
@import 'sections/content.scss';
@import 'sections/footer.scss';
@import 'sections/header.scss';
@import 'sections/nav.scss';
@import 'sections/sidebar.scss';
@import '_misc/sprites.scss';



.container{
	position:relative;
	height:100%;
	width:100%;
	min-width:1300px;
	background-color:#f4f4f4;
	padding-bottom:30px;

	.main-content{
		width:1100px;
		position: relative;
		margin:0 auto;
	}
}


.browser-notification{
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;

	margin:auto;
	height:50px;
	width:100%;
	text-align: center;

	font-family: 'open_sanssemibold';
	font-size:14px;
	span{
		font-family: 'open_sansbold';
		font-size:16px;
	}

}

