

.ico-footer__social-FB {
    width: 43px;
    height: 43px;
    background-position: -70px -70px;
}

.ico-footer__social-FB:hover {
    width: 43px;
    height: 43px;
    background-position: -253px -70px;
}

.ico-footer__social-TW {
    width: 43px;
    height: 43px;
    background-position: -70px -253px;
}

.ico-footer__social-TW:hover {
    width: 43px;
    height: 43px;
    background-position: -253px -253px;
}

.ico-footer__social-VK {
    width: 43px;
    height: 43px;
    background-position: -436px -70px;
}

.ico-footer__social-VK:hover {
    width: 43px;
    height: 43px;
    background-position: -436px -253px;
}
