.ico {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.ico-footer-FB {
    width: 43px;
    height: 43px;
    background-position: -70px -70px;
}

.ico-footer-FB-hover {
    width: 43px;
    height: 43px;
    background-position: -253px -70px;
}

.ico-footer-TW {
    width: 43px;
    height: 43px;
    background-position: -70px -253px;
}

.ico-footer-TW-hover {
    width: 43px;
    height: 43px;
    background-position: -253px -253px;
}

.ico-footer-VK {
    width: 43px;
    height: 43px;
    background-position: -436px -70px;
}

.ico-footer-VK-hover {
    width: 43px;
    height: 43px;
    background-position: -436px -253px;
}
