


.ico-map-pin {
   
    background-position: -217px -67px;
}

.ico-slider-handle {
    width: 8px;
    height: 14px;
    background-position: -369px -70px;
}

.ico-telephone {
    
    background-position: -369px -219px;
}
