.ico {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.ico-radiobutton-active {
    width: 19px;
    height: 19px;
    background-position: -70px -70px;
}

.ico-radiobutton-checked {
    width: 19px;
    height: 19px;
    background-position: -229px -70px;
}

.ico-radiobutton-unchecked {
    width: 19px;
    height: 19px;
    background-position: -70px -229px;
}
