@import 'accordion_arrows_sprites.scss';
@import 'footer__social_icons_sprites.scss';
@import 'header__social_icons_sprites.scss';
@import 'misc_sprites.scss';
@import 'view_icons_sprites.scss';


$names: accordion_arrows_sprites footer__social_icons header__social_icons misc view_icons_sprites;
@each $name in $names{
	.ico-#{$name} {
	    background-image: url(../img/#{$name}/#{$name}.png);
	    background-repeat: no-repeat;
	    display: block;
	}
}	