@import "../_misc/mixins";
						
.content{
	margin-left:24px;
	margin-top:135px;
	width:743px;
	float:right;
}
.models-container{
	margin-bottom:75px; 

}
.content-header{
	margin-bottom:21px;
	height:50px;
	background-color:#e4ebee;
	font-size:0;
	@include borders();

}





.price-filter, .view-options{
	display:inline-block;
	vertical-align: middle;
	font-size:0;
	
}
.price-filter{
	margin-left:11px;
	&__form{
		font-family:'open_sansregular';
		font-size:14px;
		.select{
			margin-left:10px;
		}
		.select__item{
			font-family:'open_sanslight';
			font-size:14px;
		}

	}
}

.view-options{
	margin-left:198px;
	//min-height:53px;
	.view__list{
		margin-left:18px;
		display:inline-block;
		vertical-align: middle;
		*[class*="view__item"]{
			display:inline-block;
			font-family:'open_sansregular';
			font-size:14px;
			text-indent:-9999px;
			border-width: 1px;
  			border-color: rgb(222, 225, 228);
  			border-style: solid;
		}
		$type: detailed-list thumbnails simple-list;
		@include view($type);
	}
	&__text{
		font-family:'open_sansregular';
		font-size:14px;
		vertical-align:middle;
	}
}

.view-types-list{
	list-style-type:none;
}

.detailed-list{
	border: solid #cccccc 1px;
	border-radius: 6px;
	overflow:hidden;
	list-style-type:none;
	font-size:0;
	margin-bottom: 66px;

	.detailed-list__item{
  		width: 741px;
		height:245px;
		background-color:#fbfbfb;
		font-size:0;
		border-bottom: solid #cccccc 1px;
		&:hover{
			box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.294);
		}
		// &:last-child{
		// 	border-bottom:none;
		// }
	}
	
	.model-main-info{
		margin-top:20px;
		width:404px;
		height:203px;
	  	border-color: rgb(222, 225, 228);
		border-right:#dee1e4 1px solid;
		display:inline-block;
		vertical-align:middle;
		.model-name{
			display: block;
			margin-top:10px;
			margin-bottom:30px;
			line-height:16px;
			width:383px;
			font-family:'open_sanssemibold';
			font-size:16px;
		}
		.desc-block{
			font-size:14px;
			font-family:'open_sansregular';
			line-height:20px;
			width:383px;
		}
		.rating-widget{
			width:174px;
			height:15px;
		}
	}

	.slideshow-block{
		@include slideShow(){
	   	width: 183px;
	    height: 203px;
	    margin-top: 20px;
	    display: inline-block;
	    vertical-align: middle;
	   }
	}   

	.part-number-container{
		@include partNumber(){
			margin-bottom: 12px;
			margin-left:35px;
			line-height:7px;
		}
	}	

	.to-basket{
		box-sizing: border-box;
		display: inline-block;
	    margin-left: 25px;
	    margin-top: 24px;
	    height: 203px;
	    width: 103px;
	    vertical-align: middle;

		
		.price{
			@include price(){
				text-align: right;
				margin-bottom:130px;
				font-size: 20px;
			}
		}

		.to-basket-button{
			@include basketButton(){
		    	margin-bottom: 5px;
			}
		}

		.rouble-sign{
			@include roubleSign(){
				margin-left:6px;
			}
		}

		.availability-state{
			@include availability(){
				margin-left:20px;
				width: 103px;
			}	
		}
	}
}


.simple-list__list{
	list-style-type:none;
	border: solid #cccccc 1px;
	border-radius: 6px;
	overflow:hidden;
	margin-bottom: 66px;
	
	.simple-list__item{
		background-color: rgb(251, 251, 251);
		
 		width: 741px;
		border-bottom: solid #cccccc 1px;
		&:hover{
			box-shadow: 0px 1px 4.45px 0.55px rgba(155, 155, 155, 0.294);
		}
		

		.part-number-container{
			@include partNumber(){
				float:left;
				height: 100%;
				line-height:50px;
				margin-left:12px;
			}
		}
		.model-name{
			float:left;
			display: block;
			margin-left:11px;
			margin-top:0;
			margin-bottom: 0;
			line-height: 50px;
			height: 100%;			
			font-family:'open_sansregular';
			font-size:14px;
			color: rgb(0, 0, 0);
			width:275px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;			
		}
		
		.price{
			@include price(){
				float: left;
				height:100%;
				line-height:50px;
				margin-left: 4px;
				text-align: right;
				width:93px;
				font-size: 18px;
				.rouble-sign{
					@include roubleSign(){
						margin-left:6px;
					}
				}
			}
		}
						
		.availability-state{
			@include availability(){
				margin-left:20px;
				width: 83px;
				height: 100%;
				line-height:50px;
				float:left;
			}
		}
		.to-basket__form{
			margin-left:18px;
			float:left;
			height: 100%;
			line-height:50px;
			.to-basket-button{
				@include basketButton();
			}
		}		
	}		
}





.page-numbers{
	text-align: right;
	&__list{
		font-size:0;
	}

	&__item{
		@mixin page_item(){
			display:inline-block;
	 		border-width: 1px;
	 		border-color: rgb(222, 225, 228);
	 		border-style: solid;
	 		border-radius: 3px;	 		
	 		@content;
	 		width: 24px;
	 		height: 23px;
	 		margin-left:4px;
	 		&:first-child{
	 			margin-left:0;
	 		}
	 		cursor:pointer;
 		}

 		@include page_item(){
			background-color:#fbfbfb;
 			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.392);
 		}

 		&_active{
		 	@include page_item(){
		 		background-color:#e0e0e0;
		 		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047);
		 	}
		}
	}

 	&__link{
 		display:block;
 		line-height:23px;
 		font-family: 'open_sansbold';
 		font-size: 12px;
 		color:#666666;
 		text-decoration: none;
 		text-align:center;
 	}
}

