@import '../_misc/mixins.scss';

.sidebar{
	float:left;
}

			 

.nav-history{
	margin-top:34px;
	margin-bottom:30px;
	&__container{
		margin-bottom:26px;
	}
	.nav-history__list{
		font-size:12px;
		
	}
	.nav-history__item{
		display:inline-block;
		.nav-history__link{
			font-family:'open_sansregular';
			font-size:14px;
			color:#333333;
			text-decoration:none;
		}
		&:after{
			margin-left:3px;
			content: ">";
		}
		

	}
	.nav-history__item_active{
		display:inline-block;
		.nav-history__link{
			color:#ff6600;
			font-family:'open_sansregular';
			font-size:14px;
		}
		
	}

	.current-section__name{
		width:331px;
		margin:0;
		padding:0;
		font-family:'open_sansbold';
		font-size:20px;
		
	}
}
	.preferences{
		width:331px;
		box-sizing:border-box;
		@include borders();
		margin-bottom:38px;
		.preferences__list{ list-style-type:none;}	
		@include preferences_links(#d9e5ea,_active);	
		@include preferences_links(#fbfbfb,"");		
	}

	.selection_settings{
		width:331px;
		box-sizing:border-box;
		@include borders();


		.accordion__item_header{
			position:relative;
			margin-top:0;
			margin-bottom: 0;
			padding-top: 16px;
    		padding-bottom: 21px;
			display:block;
			vertical-align:top;
			
			cursor:pointer;
			.header-text{
				font-family:'open_sanssemibold';
				font-size:16px;
				color:#333333;
				position: relative;
			    vertical-align: middle;
			    width: 270px;
			    word-break: break-all;
			}
			.accordion__item_arrow{
				float: right;
				margin-right: 10px;
				@include arrow();
				//background:url('../img/arrow.png') no-repeat 0 7px;
			}
			/* .arrow_down{  // Разворот стрелки при раскрытии аккордеона
				background:url('../img/arrow_down.png') no-repeat 0 4px;
			} */	
		}
				
		

		
		.accordion__item{
			display: block;
			font-size:0;
			padding-left:30px;
			border-bottom:solid;
			border-bottom-width:1px;
			&:last-child{
				border-bottom:none;
			}
			border-color:#cccccc;
						
		}

		.radiobutton__value, .checkbox__value{
			margin-left:10px;
			display:inline-block;
			vertical-align:middle;
		}
		.reset__button{
			position:absolute;	
			margin-left:-9999px;
		}

		.reset_text{
			font-family:'open_sansregular';
			font-size:14px;
			color:#6699ff;
			text-decoration:underline;
			cursor:pointer;
		}
		.colors__list{
			font-size:0;
			width:220px;
			$bg:#ffffff #cccccc #000000 #0a3153 #ff1800 #fff343 #fb914a #92c37c #40a6ff #9870ad #dc78ad #7f401d;
			@include colors($bg);
		}	
	}
.checkbox-wrapper, .radiobutton-wrapper{
	display:inline-block;
	position:relative;
	cursor:pointer;
}

.checkbox__item,.radiobutton__item{
	position:absolute;
	margin-left:-9999px;
}

@include fake(checkbox){
	background-image:url('../img/checkbox/checkbox.png');
	background-repeat: no-repeat;
    background-position: -70px -229px;
}
.checkbox__item:active + .fake-checkbox{
		background-image:url('../img/checkbox/checkbox.png');
		background-repeat: no-repeat;
	   	background-position: -229px -70px;
		}
.checkbox__item:checked + .fake-checkbox{
		background-image:url('../img/checkbox/checkbox.png');
		background-repeat: no-repeat;
	   	background-position: -70px -70px;
	}

@include fake(radiobutton){
	background-image:url('../img/radiobutton/radiobutton.png');
	background-position: -70px -229px;
	background-repeat: no-repeat;
}
.radiobutton__item:checked + .fake-radiobutton{
	background-image:url('../img/radiobutton/radiobutton.png');
	background-position: -229px -70px;
	background-repeat: no-repeat;
	}
.radiobutton__item:active + .fake-radiobutton{
		background-image:url('../img/radiobutton/radiobutton.png');
		background-position: -70px -70px;
		background-repeat: no-repeat;
	}


.price__slider{
	font-size:12px;
	@include slider-range(min);
	@include slider-range(max);
	margin-bottom:33px;
	.range-block{
		margin-bottom: 18px;

		.min-range{
			display: inline-block;
		}
	
		.max-range{
			margin-left: 47px;
		}

		.min-range__input,.max-range__input{
			margin-left:8px;
		}
	}	
	@include ui-slider-styles();
}

.accordion__inner__list{
	display:none;
	margin-bottom:19px;
	list-style-type:none;

	.accordion__inner__item{
		margin-bottom: 16px;
    	display: block;
		
		.text-value{
			font-family:'open_sansregular';
			font-size:14px;
			color:#333333;
			vertical-align: middle;
			margin-left:9px;
		}		
	}
}




