.content {
  margin-left: 24px;
  margin-top: 135px;
  width: 743px;
  float: right; }

.models-container {
  margin-bottom: 75px; }

.content-header {
  margin-bottom: 21px;
  height: 50px;
  background-color: #e4ebee;
  font-size: 0;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden; }

.price-filter, .view-options {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.price-filter {
  margin-left: 11px; }
  .price-filter__form {
    font-family: 'open_sansregular';
    font-size: 14px; }
    .price-filter__form .select {
      margin-left: 10px; }
    .price-filter__form .select__item {
      font-family: 'open_sanslight';
      font-size: 14px; }

.view-options {
  margin-left: 198px; }
  .view-options .view__list {
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle; }
    .view-options .view__list *[class*="view__item"] {
      display: inline-block;
      font-family: 'open_sansregular';
      font-size: 14px;
      text-indent: -9999px;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid; }
    .view-options .view__list li.view__item_detailed-list {
      position: relative;
      display: inline-block;
      background: url("../img/view-detailed-list-active.png") no-repeat center;
      background: url("../img/view-detailed-list-unactive.png") no-repeat center;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      /*&:hover{
				background-image: url('../../img/detailed-list-hover.png');
			}*/ }
    .view-options .view__list li.view__item_thumbnails {
      position: relative;
      display: inline-block;
      background: url("../img/view-thumbnails-active.png") no-repeat center;
      background: url("../img/view-thumbnails-unactive.png") no-repeat center;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      /*&:hover{
				background-image: url('../../img/thumbnails-hover.png');
			}*/ }
    .view-options .view__list li.view__item_list {
      position: relative;
      display: inline-block;
      background: url("../img/view-list-active.png") no-repeat center;
      background: url("../img/view-list-unactive.png") no-repeat center;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      /*&:hover{
				background-image: url('../../img/list-hover.png');
			}*/ }
  .view-options__text {
    font-family: 'open_sansregular';
    font-size: 14px;
    vertical-align: middle; }

.detailed-list {
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  list-style-type: none;
  font-size: 0;
  margin-bottom: 66px; }
  .detailed-list .detailed-list__item {
    width: 741px;
    height: 245px;
    background-color: #fbfbfb;
    font-size: 0;
    border-bottom: solid #cccccc 1px; }
    .detailed-list .detailed-list__item:hover {
      box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.294); }
  .detailed-list .model-main-info {
    margin-top: 20px;
    width: 404px;
    height: 203px;
    border-color: #dee1e4;
    border-right: #dee1e4 1px solid;
    display: inline-block;
    vertical-align: middle; }
    .detailed-list .model-main-info .model-name {
      display: block;
      margin-top: 10px;
      margin-bottom: 30px;
      line-height: 16px;
      width: 383px;
      font-family: 'open_sanssemibold';
      font-size: 16px; }
    .detailed-list .model-main-info .desc-block {
      font-size: 14px;
      font-family: 'open_sansregular';
      line-height: 20px;
      width: 383px; }
    .detailed-list .model-main-info .rating-widget {
      width: 174px;
      height: 15px; }
  .detailed-list .slideshow-block {
    width: 183px;
    height: 203px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle; }
    .detailed-list .slideshow-block .slideshow__main {
      position: relative;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      border-radius: 2px;
      width: 134px;
      height: 134px;
      margin-left: 21px;
      margin-bottom: 15px; }
      .detailed-list .slideshow-block .slideshow__main__picture {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 134px;
        max-height: 134px; }
    .detailed-list .slideshow-block .slideshow__list {
      list-style-type: none;
      margin-bottom: 15px;
      margin-left: 21px; }
    .detailed-list .slideshow-block .slideshow__item {
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      border-radius: 2px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      float: left;
      margin-left: 17px; }
      .detailed-list .slideshow-block .slideshow__item:first-child {
        margin-left: 0; }
      .detailed-list .slideshow-block .slideshow__item:hover {
        border-color: #ff6600; }
  .detailed-list .part-number-container {
    position: relative;
    font-size: 0;
    margin-bottom: 12px;
    margin-left: 35px;
    line-height: 7px; }
    .detailed-list .part-number-container .part-number {
      font-size: 12px;
      font-family: 'open_sanssemibold';
      color: #666666; }
    .detailed-list .part-number-container .part-number-value {
      font-size: 14px;
      font-family: 'open_sansbold';
      color: #333333;
      margin-left: 5px; }
  .detailed-list .to-basket {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: inline-block;
    margin-left: 25px;
    margin-top: 24px;
    height: 203px;
    width: 103px;
    vertical-align: middle; }
    .detailed-list .to-basket .price {
      font-size: 20px;
      font-family: 'open_sanssemibold';
      color: #333333;
      line-height: 20px;
      height: 20px;
      text-align: right;
      margin-bottom: 130px; }
    .detailed-list .to-basket .to-basket-button {
      padding: 0;
      border-radius: 5px;
      background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
      width: 103px;
      height: 33px;
      outline: none;
      border: none;
      font-size: 14px;
      font-family: 'open_sansbold';
      line-height: 20px;
      color: #ffffff;
      margin-bottom: 5px; }
    .detailed-list .to-basket .rouble-sign {
      font-family: 'PTRoubleDecorative';
      font-size: 20px;
      line-height: 20px;
      margin-left: 6px; }
    .detailed-list .to-basket .availability-state {
      margin-left: 20px;
      width: 103px; }
      .detailed-list .to-basket .availability-state .availability-state__text {
        font-size: 12px;
        font-family: 'open_sansbold';
        color: #7f7f7f;
        line-height: 1.667; }
        .detailed-list .to-basket .availability-state .availability-state__text:before {
          position: relative;
          display: inline-block;
          content: "";
          border-radius: 50%;
          background-color: #60ac49;
          width: 7px;
          height: 7px;
          margin-right: 8px; }

.simple-list__list {
  list-style-type: none;
  border: solid #cccccc 1px;
  border-radius: 6px; }
  .simple-list__list .simple-list__item {
    background-color: #fbfbfb;
    height: 50px;
    width: 741px;
    border-bottom: solid #cccccc 1px;
    padding-top: 20px;
    padding: 0;
    border-radius: 5px;
    background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
    width: 103px;
    height: 33px;
    outline: none;
    border: none;
    font-size: 14px;
    font-family: 'open_sansbold';
    line-height: 20px;
    color: #ffffff;
    height: 100%;
    line-height: 50px; }
    .simple-list__list .simple-list__item:hover {
      box-shadow: 0px 1px 4.45px 0.55px rgba(155, 155, 155, 0.294); }
    .simple-list__list .simple-list__item .part-number-container {
      position: relative;
      font-size: 0;
      float: left;
      height: 100%;
      line-height: 50px;
      margin-left: 13px; }
      .simple-list__list .simple-list__item .part-number-container .part-number {
        font-size: 12px;
        font-family: 'open_sanssemibold';
        color: #666666; }
      .simple-list__list .simple-list__item .part-number-container .part-number-value {
        font-size: 14px;
        font-family: 'open_sansbold';
        color: #333333;
        margin-left: 5px; }
    .simple-list__list .simple-list__item .model-name {
      float: left;
      display: block;
      margin-left: 11px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 50px;
      height: 100%;
      font-family: 'open_sansregular';
      font-size: 14px;
      color: black; }
    .simple-list__list .simple-list__item .price {
      font-size: 20px;
      font-family: 'open_sanssemibold';
      color: #333333;
      line-height: 20px;
      height: 20px;
      float: left;
      height: 100%;
      line-height: 50px; }
      .simple-list__list .simple-list__item .price .rouble-sign {
        font-family: 'PTRoubleDecorative';
        font-size: 20px;
        line-height: 20px;
        margin-left: 6px; }
    .simple-list__list .simple-list__item .availability-state {
      margin-left: 28px;
      width: 83px;
      height: 100%;
      line-height: 50px; }
      .simple-list__list .simple-list__item .availability-state .availability-state__text {
        font-size: 12px;
        font-family: 'open_sansbold';
        color: #7f7f7f;
        line-height: 1.667; }
        .simple-list__list .simple-list__item .availability-state .availability-state__text:before {
          position: relative;
          display: inline-block;
          content: "";
          border-radius: 50%;
          background-color: #60ac49;
          width: 7px;
          height: 7px;
          margin-right: 8px; }

.page-numbers {
  text-align: right; }
  .page-numbers__list {
    font-size: 0; }
  .page-numbers__item {
    display: inline-block;
    border-width: 1px;
    border-color: #dee1e4;
    border-style: solid;
    border-radius: 3px;
    background-color: #fbfbfb;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.392);
    width: 24px;
    height: 23px;
    margin-left: 4px;
    cursor: pointer; }
    .page-numbers__item:first-child {
      margin-left: 0; }
    .page-numbers__item_active {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      border-radius: 3px;
      background-color: #e0e0e0;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047);
      width: 24px;
      height: 23px;
      margin-left: 4px;
      cursor: pointer; }
      .page-numbers__item_active:first-child {
        margin-left: 0; }
  .page-numbers__link {
    display: block;
    line-height: 23px;
    font-family: 'open_sansbold';
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    text-align: center; }
