.content {
  margin-left: 24px;
  margin-top: 135px;
  width: 743px;
  float: right; }

.models-container {
  margin-bottom: 75px; }

.content-header {
  margin-bottom: 21px;
  height: 50px;
  background-color: #e4ebee;
  font-size: 0;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden; }

.price-filter, .view-options {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.price-filter {
  margin-left: 21px; }
  .price-filter__form {
    font-family: 'open_sansregular';
    font-size: 0; }
    .price-filter__form .filter_span {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle; }
    .price-filter__form .sort-select {
      margin-left: 10px;
      outline: none !important; }

.select2-container {
  width: 145px !important;
  margin-left: 5px !important; }
  .select2-container .select2-selection {
    outline: none !important;
    position: relative !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #ebedef !important;
    border-radius: 3px !important;
    background-color: white !important;
    box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169) !important;
    width: 145px !important;
    height: 26px !important;
    z-index: 409 !important; }
  .select2-container .select2-selection__arrow b {
    height: 9px !important;
    width: 13px !important;
    border: 0 none !important;
    margin: auto !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-image: url("../img/select_arrow.png") !important; }
  .select2-container .select2-selection__rendered {
    padding-right: 0px;
    font-size: 14px !important;
    font-family: "open_sanslight" !important;
    color: #666666 !important;
    line-height: 16px !important;
    padding-left: 15px !important;
    padding-top: 5px !important;
    width: 112px !important; }

.select2-dropdown {
  margin-left: -8px !important;
  margin-top: 2px !important;
  border-radius: 2px !important;
  background-color: white !important;
  box-shadow: 0px 1px 4.85px 0.15px rgba(134, 134, 134, 0.294) !important;
  width: 145px !important; }
  .select2-dropdown .select2-results__options {
    margin-bottom: 11px;
    margin-left: 15px;
    margin-top: 10px; }
    .select2-dropdown .select2-results__options .select2-results__option {
      font-size: 14px !important;
      font-family: "open_sanslight" !important;
      color: #666666 !important;
      line-height: 14px !important;
      padding: 0 !important;
      margin-bottom: 0;
      background-color: #ffffff !important; }
      .select2-dropdown .select2-results__options .select2-results__option:first-child {
        margin-bottom: 14px; }
      .select2-dropdown .select2-results__options .select2-results__option--highlighted {
        color: #333333 !important;
        font-family: "open_sanssemibold" !important;
        font-size: 14px !important;
        background-color: #ffffff !important; }

.select2-container--open .select2-dropdown {
  left: 3px !important; }

.select2-container--open .select2-selection__arrow b {
  background-image: url("../img/select_arrow_up.png") !important; }

.view-options {
  margin-left: 196px; }
  .view-options .view__list {
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle; }
    .view-options .view__list .view__item {
      display: inline-block;
      font-family: 'open_sansregular';
      font-size: 14px;
      position: relative;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid; }
    .view-options .view__list .view__item__link_detailed-list {
      display: block;
      position: relative;
      background: url("../img/view-detailed-list-unactive.png") no-repeat center;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      cursor: pointer; }
      .view-options .view__list .view__item__link_detailed-list:hover {
        background-image: url("../img/view-detailed-list-active.png"); }
    .view-options .view__list .view__item__link_thumbnails {
      display: block;
      position: relative;
      background: url("../img/view-thumbnails-unactive.png") no-repeat center;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      cursor: pointer; }
      .view-options .view__list .view__item__link_thumbnails:hover {
        background-image: url("../img/view-thumbnails-active.png"); }
    .view-options .view__list .view__item__link_simple-list {
      display: block;
      position: relative;
      background: url("../img/view-simple-list-unactive.png") no-repeat center;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      cursor: pointer; }
      .view-options .view__list .view__item__link_simple-list:hover {
        background-image: url("../img/view-simple-list-active.png"); }
    .view-options .view__list .view__item.active .view__item__link_detailed-list {
      background-image: url("../img/view-detailed-list-active.png") !important; }
    .view-options .view__list .view__item.active .view__item__link_thumbnails {
      background-image: url("../img/view-thumbnails-active.png") !important; }
    .view-options .view__list .view__item.active .view__item__link_simple-list {
      background-image: url("../img/view-simple-list-active.png") !important; }
  .view-options__text {
    font-family: 'open_sansregular';
    font-size: 14px;
    vertical-align: middle; }

.view-types__list {
  list-style-type: none; }
  .view-types__list .active {
    display: block !important; }
  .view-types__list .view-types__item_detailed-list, .view-types__list .view-types__item_thumbnails, .view-types__list .view-types__item_simple-list {
    display: none; }

.detailed-list {
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  list-style-type: none;
  font-size: 0;
  margin-bottom: 66px; }
  .detailed-list .detailed-list__item {
    width: 741px;
    position: relative;
    background-color: #fbfbfb;
    font-size: 0;
    border-bottom: solid #cccccc 1px; }
    .detailed-list .detailed-list__item:hover {
      box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.294); }
  .detailed-list .model-main-info {
    margin-top: 20px;
    width: 404px;
    border-color: #dee1e4;
    display: inline-block;
    vertical-align: top; }
    .detailed-list .model-main-info .model-name {
      display: block;
      margin-top: 10px;
      margin-bottom: 30px;
      line-height: 16px;
      width: 383px;
      font-family: 'open_sanssemibold';
      font-size: 16px; }
    .detailed-list .model-main-info .desc-block {
      font-size: 14px;
      font-family: 'open_sansregular';
      line-height: 20px;
      width: 383px;
      margin-bottom: 20px;
      text-align: justify; }
    .detailed-list .model-main-info .rating {
      margin-bottom: 20px;
      width: 118px;
      font-size: 0; }
      .detailed-list .model-main-info .rating .rating__list {
        font-size: 0;
        list-style-type: none;
        display: inline-block;
        vertical-align: middle; }
        .detailed-list .model-main-info .rating .rating__list .rating__item {
          background: url("../img/star-empty.png") no-repeat;
          display: inline-block;
          width: 16px;
          height: 15px; }
          .detailed-list .model-main-info .rating .rating__list .rating__item.rating__item_filled {
            background: url("../img/star.png") no-repeat; }
      .detailed-list .model-main-info .rating .rating-amount {
        color: #fbfbfb;
        font-size: 12px;
        font-family: 'open_sanssemibold';
        line-height: 15px;
        width: 30px;
        background-color: #b5beca;
        border-radius: 20px;
        margin-left: 8px;
        text-align: center;
        display: inline-block;
        vertical-align: middle; }
  .detailed-list .slideshow-block {
    width: 183px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px; }
    .detailed-list .slideshow-block .slideshow__main {
      position: relative;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      border-radius: 2px;
      width: 134px;
      height: 134px; }
      .detailed-list .slideshow-block .slideshow__main__picture {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 134px;
        max-height: 134px; }
    .detailed-list .slideshow-block .slideshow__list {
      list-style-type: none; }
    .detailed-list .slideshow-block .slideshow__item {
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      border-radius: 2px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      float: left;
      margin-left: 17px; }
      .detailed-list .slideshow-block .slideshow__item:first-child {
        margin-left: 0; }
      .detailed-list .slideshow-block .slideshow__item:hover {
        border-color: #ff6600; }
      .detailed-list .slideshow-block .slideshow__item.active {
        border-color: #ff6600; }
      .detailed-list .slideshow-block .slideshow__item__pic {
        width: 32px;
        height: 32px; }
    .detailed-list .slideshow-block .slideshow__main {
      margin-bottom: 15px;
      margin-left: 21px; }
    .detailed-list .slideshow-block .slideshow__list {
      margin-bottom: 15px;
      margin-left: 21px; }
  .detailed-list .part-number-container {
    position: relative;
    font-size: 0;
    margin-bottom: 12px;
    margin-left: 36px;
    line-height: 7px; }
    .detailed-list .part-number-container .part-number {
      position: relative;
      display: block;
      float: left;
      width: 53px;
      word-break: break-all;
      font-size: 12px;
      font-family: 'open_sanssemibold';
      color: #666666; }
    .detailed-list .part-number-container .part-number-value {
      position: relative;
      display: block;
      float: left;
      width: 48px;
      word-break: break-all;
      font-size: 14px;
      font-family: 'open_sansbold';
      color: #333333;
      margin-left: 5px; }
  .detailed-list .to-basket {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    height: 85%;
    width: 103px;
    border-left: #dee1e4 1px solid;
    position: absolute;
    top: 24px; }
    .detailed-list .to-basket .price {
      font-family: 'open_sanssemibold';
      color: #333333;
      line-height: 20px;
      word-break: break-all;
      right: 0;
      font-size: 20px;
      position: absolute; }
    .detailed-list .to-basket .to-basket__form {
      position: absolute;
      bottom: 9px; }
      .detailed-list .to-basket .to-basket__form .to-basket-button {
        padding: 0;
        border-radius: 5px;
        background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
        width: 103px;
        height: 33px;
        outline: none;
        border: none;
        font-size: 14px;
        font-family: 'open_sansbold';
        line-height: 20px;
        color: #ffffff;
        margin-bottom: 5px; }
    .detailed-list .to-basket .rouble-sign {
      font-family: 'PTRoubleDecorative';
      font-size: 20px;
      line-height: 20px;
      margin-left: 6px; }
    .detailed-list .to-basket .availability-state {
      margin-left: 20px;
      width: 103px;
      position: absolute;
      bottom: -6px; }
      .detailed-list .to-basket .availability-state .availability-state__text {
        font-size: 12px;
        font-family: 'open_sansbold';
        color: #7f7f7f;
        line-height: 1.667; }
        .detailed-list .to-basket .availability-state .availability-state__text:before {
          position: relative;
          display: inline-block;
          content: "";
          border-radius: 50%;
          background-color: #60ac49;
          width: 7px;
          height: 7px;
          margin-right: 8px; }

.simple-list__list {
  list-style-type: none;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 66px; }
  .simple-list__list .simple-list__item {
    background-color: #fbfbfb;
    width: 741px;
    border-bottom: solid #cccccc 1px; }
    .simple-list__list .simple-list__item:hover {
      box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.294); }
    .simple-list__list .simple-list__item .part-number-container {
      position: relative;
      font-size: 0;
      float: left;
      height: 100%;
      line-height: 50px;
      margin-left: 12px; }
      .simple-list__list .simple-list__item .part-number-container .part-number {
        position: relative;
        display: block;
        float: left;
        width: 53px;
        word-break: break-all;
        font-size: 12px;
        font-family: 'open_sanssemibold';
        color: #666666; }
      .simple-list__list .simple-list__item .part-number-container .part-number-value {
        position: relative;
        display: block;
        float: left;
        width: 48px;
        word-break: break-all;
        font-size: 14px;
        font-family: 'open_sansbold';
        color: #333333;
        margin-left: 5px; }
    .simple-list__list .simple-list__item .model-name {
      float: left;
      display: block;
      margin-left: 11px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 50px;
      height: 100%;
      font-family: 'open_sansregular';
      font-size: 14px;
      color: black;
      width: 275px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .simple-list__list .simple-list__item .price {
      font-family: 'open_sanssemibold';
      color: #333333;
      line-height: 20px;
      word-break: break-all;
      float: left;
      height: 100%;
      line-height: 50px;
      margin-left: 4px;
      text-align: right;
      width: 93px;
      font-size: 18px; }
      .simple-list__list .simple-list__item .price .rouble-sign {
        font-family: 'PTRoubleDecorative';
        font-size: 20px;
        line-height: 20px;
        margin-left: 6px; }
    .simple-list__list .simple-list__item .availability-state {
      margin-left: 20px;
      width: 83px;
      height: 100%;
      line-height: 50px;
      float: left; }
      .simple-list__list .simple-list__item .availability-state .availability-state__text {
        font-size: 12px;
        font-family: 'open_sansbold';
        color: #7f7f7f;
        line-height: 1.667; }
        .simple-list__list .simple-list__item .availability-state .availability-state__text:before {
          position: relative;
          display: inline-block;
          content: "";
          border-radius: 50%;
          background-color: #60ac49;
          width: 7px;
          height: 7px;
          margin-right: 8px; }
    .simple-list__list .simple-list__item .to-basket__form {
      margin-left: 18px;
      float: left;
      height: 100%;
      line-height: 50px; }
      .simple-list__list .simple-list__item .to-basket__form .to-basket-button {
        padding: 0;
        border-radius: 5px;
        background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
        width: 103px;
        height: 33px;
        outline: none;
        border: none;
        font-size: 14px;
        font-family: 'open_sansbold';
        line-height: 20px;
        color: #ffffff; }

.thumbnails__list {
  list-style-type: none;
  margin-bottom: 66px;
  width: 743px; }
  .thumbnails__list .thumbnails__item {
    position: relative;
    margin-left: 19px;
    margin-bottom: 19px;
    float: left;
    width: 233px;
    height: 514px;
    border-style: solid;
    border-width: 1px;
    border-color: #dee1e4;
    background-color: rgba(255, 255, 255, 0.6); }
    .thumbnails__list .thumbnails__item:nth-child(3n+1) {
      margin-left: 0; }
    .thumbnails__list .thumbnails__item:nth-child(n+7) {
      margin-bottom: 0; }
    .thumbnails__list .thumbnails__item:hover {
      box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.294); }
    .thumbnails__list .thumbnails__item__wrapper {
      width: 213px;
      height: 473px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: -ms-translate(-50%, -50%); }
      .thumbnails__list .thumbnails__item__wrapper .slideshow-block {
        position: relative;
        width: 139px;
        height: 185px;
        display: block;
        margin-bottom: 16px;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        left: 50%; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__main {
          position: relative;
          border-width: 1px;
          border-color: #dee1e4;
          border-style: solid;
          border-radius: 2px;
          width: 134px;
          height: 134px; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__main__picture {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            max-width: 134px;
            max-height: 134px; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__list {
          list-style-type: none; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item {
          border-width: 1px;
          border-color: #dee1e4;
          border-style: solid;
          border-radius: 2px;
          width: 32px;
          height: 32px;
          overflow: hidden;
          float: left;
          margin-left: 17px; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item:first-child {
            margin-left: 0; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item:hover {
            border-color: #ff6600; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item.active {
            border-color: #ff6600; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item__pic {
            width: 32px;
            height: 32px; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__main {
          margin-bottom: 15px; }
      .thumbnails__list .thumbnails__item__wrapper .model-name {
        font-family: 'open_sanssemibold';
        font-size: 14px;
        color: #000000;
        margin-top: 0;
        text-align: center; }
      .thumbnails__list .thumbnails__item__wrapper .params__list {
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        list-style-type: none;
        margin-bottom: 8px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item:nth-child(odd) {
          background-color: #e6e6e6;
          height: 21px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item:nth-child(even) {
          background-color: #fbfbfb;
          height: 21px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-name, .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-value {
          font-family: 'open_sansregular';
          font-size: 14px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-name {
          margin-left: 2px;
          float: left; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-value {
          margin-right: 2px;
          text-align: right; }
      .thumbnails__list .thumbnails__item__wrapper .rating {
        position: relative;
        margin-bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        width: 118px;
        font-size: 0; }
        .thumbnails__list .thumbnails__item__wrapper .rating .rating__list {
          font-size: 0;
          list-style-type: none;
          display: inline-block;
          vertical-align: middle; }
          .thumbnails__list .thumbnails__item__wrapper .rating .rating__list .rating__item {
            background: url("../img/star-empty.png") no-repeat;
            display: inline-block;
            width: 16px;
            height: 15px; }
            .thumbnails__list .thumbnails__item__wrapper .rating .rating__list .rating__item.rating__item_filled {
              background: url("../img/star.png") no-repeat; }
        .thumbnails__list .thumbnails__item__wrapper .rating .rating-amount {
          color: #fbfbfb;
          font-size: 12px;
          font-family: 'open_sanssemibold';
          line-height: 15px;
          width: 30px;
          background-color: #b5beca;
          border-radius: 20px;
          margin-left: 8px;
          text-align: center;
          display: inline-block;
          vertical-align: middle; }
      .thumbnails__list .thumbnails__item__wrapper .price {
        font-family: 'open_sanssemibold';
        color: #333333;
        line-height: 20px;
        word-break: break-all;
        position: relative;
        left: 50%;
        width: 103px;
        word-break: break-all;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        text-align: center;
        font-size: 20px;
        margin-bottom: 9px; }
        .thumbnails__list .thumbnails__item__wrapper .price .rouble-sign {
          font-family: 'PTRoubleDecorative';
          font-size: 20px;
          line-height: 20px;
          margin-left: 6px; }
      .thumbnails__list .thumbnails__item__wrapper .availability-state {
        position: relative;
        margin-left: 9px;
        width: 83px;
        display: inline-block;
        vertical-align: middle; }
        .thumbnails__list .thumbnails__item__wrapper .availability-state .availability-state__text {
          font-size: 12px;
          font-family: 'open_sansbold';
          color: #7f7f7f;
          line-height: 1.667; }
          .thumbnails__list .thumbnails__item__wrapper .availability-state .availability-state__text:before {
            position: relative;
            display: inline-block;
            content: "";
            border-radius: 50%;
            background-color: #60ac49;
            width: 7px;
            height: 7px;
            margin-right: 8px; }
      .thumbnails__list .thumbnails__item__wrapper .to-basket__form {
        display: inline-block;
        margin-right: 12px; }
        .thumbnails__list .thumbnails__item__wrapper .to-basket__form .to-basket-button {
          padding: 0;
          border-radius: 5px;
          background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
          width: 103px;
          height: 33px;
          outline: none;
          border: none;
          font-size: 14px;
          font-family: 'open_sansbold';
          line-height: 20px;
          color: #ffffff; }

.pagination {
  text-align: right; }
  .pagination__list {
    font-size: 0; }
  .pagination__item {
    display: inline-block;
    border-width: 1px;
    border-color: #dee1e4;
    border-style: solid;
    border-radius: 3px;
    width: 24px;
    height: 23px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #fbfbfb;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.392); }
    .pagination__item:first-child {
      margin-left: 0; }
    .pagination__item:hover {
      background-color: #e0e0e0;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047); }
  .pagination__link {
    display: block;
    line-height: 23px;
    font-family: 'open_sansbold';
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    text-align: center; }
  .pagination__item.pagination__item_prev {
    content: "<"; }
  .pagination__item.pagination__item_next {
    content: ">"; }

.attention {
  clear: both; }
  .attention .attention__text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-indent: 37px;
    text-align: justify; }
  .attention .attention__text .column.first {
    float: left !important; }
  .attention .attention__text .column.last {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding-left: 42px;
    float: right !important; }

.footer {
  position: relative;
  height: 221px;
  width: 100%;
  min-width: 1300px;
  background: url("../img/pattern.png"); }
  .footer__logo__link {
    display: inline-block;
    margin-left: 79px;
    margin-top: 72px;
    float: left; }
    .footer__logo__link .logo__text {
      position: absolute;
      left: -9999px; }
  .footer .footer__right-column {
    float: right;
    margin-bottom: 17px; }
  .footer .footer__social {
    position: relative;
    height: 43px;
    width: auto; }
    .footer .footer__social__list {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .footer .footer__social__list .footer__social__item {
        display: inline-block;
        vertical-align: top;
        margin-left: 26px;
        width: 43px;
        height: 43px; }
        .footer .footer__social__list .footer__social__item:first-child {
          margin-left: 0px; }
        .footer .footer__social__list .footer__social__item .footer__social__link_FB {
          position: relative;
          display: block;
          text-indent: -9999px; }
        .footer .footer__social__list .footer__social__item .footer__social__link_VK {
          position: relative;
          display: block;
          text-indent: -9999px; }
        .footer .footer__social__list .footer__social__item .footer__social__link_TW {
          position: relative;
          display: block;
          text-indent: -9999px; }
  .footer__social {
    margin-bottom: 19px;
    margin-right: 83px;
    margin-top: 35px; }
    .footer__social__list {
      float: right; }
  .footer__nav {
    float: right;
    margin-right: 83px; }
    .footer__nav__container {
      width: 576px; }
    .footer__nav__list {
      list-style-type: none;
      font-size: 0;
      text-align: right; }
    .footer__nav__item {
      display: inline-block;
      margin-left: 30px;
      margin-bottom: 23px; }
    .footer__nav__link {
      font-size: 14px;
      font-family: 'open_sansregular';
      color: #ffffff; }
      .footer__nav__link:hover {
        text-decoration: none; }
  .footer .copyright {
    margin: 0;
    clear: both;
    font-family: 'open_sansregular';
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 11px;
    line-height: 12px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.header {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
  min-width: 1300px; }
  .header1-container .header1-content {
    margin: 0 auto;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 1099px;
    margin-top: 25px;
    margin-bottom: 26px; }
    .header1-container .header1-content .header__social {
      position: relative;
      height: 26px;
      width: auto; }
      .header1-container .header1-content .header__social__list {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .header1-container .header1-content .header__social__list .header__social__item {
          display: inline-block;
          vertical-align: top;
          margin-left: 16px;
          width: 26px;
          height: 26px; }
          .header1-container .header1-content .header__social__list .header__social__item:first-child {
            margin-left: 0px; }
          .header1-container .header1-content .header__social__list .header__social__item .header__social__link_FB {
            position: relative;
            display: block;
            text-indent: -9999px; }
          .header1-container .header1-content .header__social__list .header__social__item .header__social__link_VK {
            position: relative;
            display: block;
            text-indent: -9999px; }
          .header1-container .header1-content .header__social__list .header__social__item .header__social__link_TW {
            position: relative;
            display: block;
            text-indent: -9999px; }
    .header1-container .header1-content .header__social {
      float: left; }
    .header1-container .header1-content .address {
      position: relative;
      display: block;
      float: right;
      text-decoration: none;
      font-style: normal; }
      .header1-container .header1-content .address__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0; }
        .header1-container .header1-content .address__list .address__string {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          padding-left: 20px;
          text-decoration: none;
          font-family: 'open_sansregular';
          font-size: 14px;
          background: url("../img/map-pin.png") no-repeat 0 center;
          width: 180px;
          word-wrap: break-word; }
        .header1-container .header1-content .address__list .phone__string {
          margin-left: 86px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          padding-left: 20px;
          text-decoration: none;
          background: url("../img/telephone.png") no-repeat 0 center;
          width: 176px;
          word-wrap: break-word; }
          .header1-container .header1-content .address__list .phone__string .phone__string__link {
            color: #333333;
            font-size: 18px;
            font-family: 'open_sanssemibold'; }
  .header2-container {
    background-color: #f4f4f4; }
    .header2-container .header2-content {
      font-size: 0;
      width: 1099px;
      margin: 0 auto;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-top: 32px;
      margin-bottom: 28px; }
      .header2-container .header2-content .logo__link {
        display: inline-block;
        vertical-align: middle; }
        .header2-container .header2-content .logo__link .logo__text {
          position: absolute;
          left: -9999px; }
      .header2-container .header2-content .search-block {
        font-size: 0;
        display: inline-block;
        vertical-align: middle;
        margin-left: 57px; }
        .header2-container .header2-content .search-block__textinput {
          -moz-box-sizing: border-box;
               box-sizing: border-box;
          padding-right: 0;
          vertical-align: middle;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 17px;
          border-left-style: solid;
          border-top-style: solid;
          border-bottom-style: solid;
          border-right-style: none;
          border-width: 1px;
          border-color: #dee1e4;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          background-color: rgba(255, 255, 255, 0.6);
          width: 288px;
          height: 34px;
          color: #666666;
          font-family: 'open_sanslight';
          font-size: 14px;
          outline: none; }
        .header2-container .header2-content .search-block ::-webkit-input-placeholder {
          color: #666666;
          font-family: 'open_sanslight';
          font-size: 14px; }
        .header2-container .header2-content .search-block ::-moz-placeholder {
          color: #666666;
          font-family: 'open_sanslight';
          font-size: 14px; }
        .header2-container .header2-content .search-block :-ms-input-placeholder {
          color: #666666;
          font-family: 'open_sanslight';
          font-size: 14px; }
        .header2-container .header2-content .search-block__buttoninput {
          vertical-align: middle;
          padding: 0;
          border: none;
          background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
          background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
          width: 79px;
          height: 34px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          color: #ffffff;
          font-family: 'open_sanssemibold';
          font-size: 16px;
          outline: none; }
      .header2-container .header2-content .header2-links {
        display: inline-block;
        vertical-align: middle;
        margin-left: 48px; }
        .header2-container .header2-content .header2-links__list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          width: 380px; }
        .header2-container .header2-content .header2-links__item {
          display: inline-block;
          margin-left: 28px; }
          .header2-container .header2-content .header2-links__item:first-child {
            margin-left: 0; }
        .header2-container .header2-content .header2-links__item-link {
          display: inline-block;
          font-size: 16px;
          font-family: 'open_sanssemibold';
          color: #333333; }
          .header2-container .header2-content .header2-links__item-link:hover {
            color: #ff6600; }

.nav-wrapper {
  width: 1100px;
  margin: 0 auto; }
  .nav-wrapper .navigate {
    height: 52px;
    width: 100%; }
    .nav-wrapper .navigate__list {
      font-size: 0px; }
    .nav-wrapper .navigate__item {
      display: inline-block;
      background-color: #ffffff; }
      .nav-wrapper .navigate__item .navigate__link {
        display: block;
        height: 52px;
        text-decoration: none;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 53px;
        color: #333333;
        font-size: 14px;
        font-family: 'open_sansregular'; }
    .nav-wrapper .navigate__item:hover {
      background-color: #cccccc; }
      .nav-wrapper .navigate__item:hover .navigate__link {
        color: #333333;
        font-family: 'open_sansregular'; }
    .nav-wrapper .navigate__item_active {
      display: inline-block;
      background-color: #ff6600; }
      .nav-wrapper .navigate__item_active .navigate__link {
        text-decoration: none;
        line-height: 53px;
        padding-left: 16px;
        padding-right: 16px;
        color: #ffffff;
        font-family: 'open_sanssemibold';
        font-size: 14px; }

.sidebar {
  float: left; }

.nav-history {
  margin-top: 34px;
  margin-bottom: 30px; }
  .nav-history__container {
    margin-bottom: 26px; }
  .nav-history .nav-history__list {
    font-size: 12px; }
  .nav-history .nav-history__item {
    display: inline-block; }
    .nav-history .nav-history__item .nav-history__link {
      font-family: 'open_sansregular';
      font-size: 14px;
      color: #333333;
      text-decoration: none; }
    .nav-history .nav-history__item:after {
      margin-left: 3px;
      content: ">"; }
  .nav-history .nav-history__item_active {
    display: inline-block; }
    .nav-history .nav-history__item_active .nav-history__link {
      color: #ff6600;
      font-family: 'open_sansregular';
      font-size: 14px; }
  .nav-history .current-section__name {
    width: 331px;
    margin: 0;
    padding: 0;
    font-family: 'open_sansbold';
    font-size: 20px; }

.preferences {
  width: 331px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 38px; }
  .preferences .preferences__list {
    list-style-type: none; }
  .preferences .preferences__item_active {
    background-color: #d9e5ea; }
    .preferences .preferences__item_active .preferences__item__link_active {
      padding-left: 30px;
      display: block;
      height: 45px;
      line-height: 45px;
      color: #666666;
      font-size: 14px;
      font-family: 'open_sansregular';
      text-decoration: none; }
  .preferences .preferences__item {
    background-color: #fbfbfb; }
    .preferences .preferences__item .preferences__item__link {
      padding-left: 30px;
      display: block;
      height: 45px;
      line-height: 45px;
      color: #666666;
      font-size: 14px;
      font-family: 'open_sansregular';
      text-decoration: none; }

.selection_settings {
  width: 331px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden; }
  .selection_settings .accordion__item_header {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 21px;
    display: block;
    vertical-align: top;
    cursor: pointer; }
    .selection_settings .accordion__item_header .header-text {
      font-family: 'open_sanssemibold';
      font-size: 16px;
      color: #333333;
      position: relative;
      vertical-align: middle;
      width: 270px;
      word-break: break-all; }
    .selection_settings .accordion__item_header .accordion__item_arrow {
      float: right;
      margin-right: 10px;
      text-indent: -9999px;
      position: relative;
      display: inline-block;
      width: 18px;
      height: 17px;
      background: url("../img/arrow.png") no-repeat 0 7px; }
    .selection_settings .accordion__item_header .arrow_down {
      background: url("../img/arrow_down.png") no-repeat 0 4px; }
  .selection_settings .accordion__item {
    display: block;
    font-size: 0;
    padding-left: 30px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #cccccc; }
    .selection_settings .accordion__item:last-child {
      border-bottom: none; }
  .selection_settings .radiobutton__value, .selection_settings .checkbox__value {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle; }
  .selection_settings .reset__button {
    position: absolute;
    margin-left: -9999px; }
  .selection_settings .reset_text {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #6699ff;
    text-decoration: underline;
    cursor: pointer; }
  .selection_settings .colors__list {
    font-size: 0;
    width: 220px; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_1 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #ffffff;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_1:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_2 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #cccccc;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_2:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_3 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #000000;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_3:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_4 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #0a3153;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_4:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_5 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #ff1800;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_5:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_6 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #fff343;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_6:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_7 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #fb914a;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_7:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_8 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #92c37c;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_8:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_9 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #40a6ff;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_9:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_10 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #9870ad;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_10:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_11 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #dc78ad;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_11:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_12 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #7f401d;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_12:hover {
          border-color: #ff6600; }

.checkbox-wrapper, .radiobutton-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer; }

.checkbox__item, .radiobutton__item {
  position: absolute;
  margin-left: -9999px; }

.fake-checkbox {
  word-wrap: break-word;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-image: url("../img/checkbox-unactive.png"); }

.checkbox__item:active + .fake-checkbox {
  background-image: url("../img/checkbox-active-hover.png"); }

.checkbox__item:checked + .fake-checkbox {
  background-image: url("../img/checkbox-active.png"); }

.fake-radiobutton {
  word-wrap: break-word;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-image: url("../img/radiobutton-unchecked.png"); }

.radiobutton__item:checked + .fake-radiobutton {
  background-image: url("../img/radiobutton-checked.png"); }

.radiobutton__item:active + .fake-radiobutton {
  background-image: url("../img/radiobutton-active.png"); }

.price__slider {
  font-size: 12px;
  margin-bottom: 33px; }
  .price__slider .min-range {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #333333; }
    .price__slider .min-range__input {
      border-style: solid;
      border-width: 1px;
      border-color: #ebedef;
      border-radius: 3px;
      background-color: white;
      box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169);
      width: 79px;
      height: 26px;
      font-family: 'open_sanssemibold';
      font-size: 14px;
      color: #333333;
      outline: none;
      padding-left: 8px; }
  .price__slider .max-range {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #333333; }
    .price__slider .max-range__input {
      border-style: solid;
      border-width: 1px;
      border-color: #ebedef;
      border-radius: 3px;
      background-color: white;
      box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169);
      width: 79px;
      height: 26px;
      font-family: 'open_sanssemibold';
      font-size: 14px;
      color: #333333;
      outline: none;
      padding-left: 8px; }
  .price__slider .range-block {
    margin-bottom: 18px; }
    .price__slider .range-block .min-range {
      display: inline-block; }
    .price__slider .range-block .max-range {
      margin-left: 47px; }
    .price__slider .range-block .min-range__input, .price__slider .range-block .max-range__input {
      margin-left: 8px; }

.accordion__inner__list {
  display: none;
  margin-bottom: 19px;
  list-style-type: none; }
  .accordion__inner__list .accordion__inner__item {
    margin-bottom: 16px;
    display: block; }
    .accordion__inner__list .accordion__inner__item .text-value {
      font-family: 'open_sansregular';
      font-size: 14px;
      color: #333333;
      vertical-align: middle;
      margin-left: 9px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-arrow {
  width: 18px;
  height: 11px;
  background-position: -70px -70px; }

.ico-arrow_down {
  width: 18px;
  height: 11px;
  background-position: -228px -70px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-checkbox-active {
  width: 19px;
  height: 19px;
  background-position: -70px -70px; }

.ico-checkbox-active-hover {
  width: 19px;
  height: 19px;
  background-position: -229px -70px; }

.ico-checkbox-unactive {
  width: 19px;
  height: 19px;
  background-position: -70px -229px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-footer-FB {
  width: 43px;
  height: 43px;
  background-position: -70px -70px; }

.ico-footer-FB-hover {
  width: 43px;
  height: 43px;
  background-position: -253px -70px; }

.ico-footer-TW {
  width: 43px;
  height: 43px;
  background-position: -70px -253px; }

.ico-footer-TW-hover {
  width: 43px;
  height: 43px;
  background-position: -253px -253px; }

.ico-footer-VK {
  width: 43px;
  height: 43px;
  background-position: -436px -70px; }

.ico-footer-VK-hover {
  width: 43px;
  height: 43px;
  background-position: -436px -253px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-header-FB {
  width: 26px;
  height: 26px;
  background-position: -70px -70px; }

.ico-header-FB-hover {
  width: 26px;
  height: 26px;
  background-position: -236px -70px; }

.ico-header-TW {
  width: 26px;
  height: 26px;
  background-position: -70px -236px; }

.ico-header-TW-hover {
  width: 26px;
  height: 26px;
  background-position: -236px -236px; }

.ico-header-VK {
  width: 27px;
  height: 26px;
  background-position: -402px -70px; }

.ico-header-VK-hover {
  width: 27px;
  height: 26px;
  background-position: -402px -236px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-in-stock {
  width: 7px;
  height: 7px;
  background-position: -70px -70px; }

.ico-map-pin {
  width: 12px;
  height: 16px;
  background-position: -217px -70px; }

.ico-slider-handle {
  width: 8px;
  height: 14px;
  background-position: -369px -70px; }

.ico-telephone {
  width: 12px;
  height: 16px;
  background-position: -369px -224px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-radiobutton-active {
  width: 19px;
  height: 19px;
  background-position: -70px -70px; }

.ico-radiobutton-checked {
  width: 19px;
  height: 19px;
  background-position: -229px -70px; }

.ico-radiobutton-unchecked {
  width: 19px;
  height: 19px;
  background-position: -70px -229px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-star {
  width: 16px;
  height: 15px;
  background-position: -70px -70px; }

.ico-star-empty {
  width: 16px;
  height: 15px;
  background-position: -226px -70px; }

.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-select_arrow {
  width: 13px;
  height: 9px;
  background-position: -70px -70px; }

.ico-select_arrow_up {
  width: 13px;
  height: 9px;
  background-position: -223px -70px; }

.ico-view-detailed-list-active {
  width: 16px;
  height: 16px;
  background-position: -70px -70px; }

.ico-view-detailed-list-unactive {
  width: 16px;
  height: 16px;
  background-position: -226px -70px; }

.ico-view-simple-list-active {
  width: 16px;
  height: 16px;
  background-position: -70px -226px; }

.ico-view-simple-list-unactive {
  width: 16px;
  height: 16px;
  background-position: -226px -226px; }

.ico-view-thumbnails-active {
  width: 16px;
  height: 16px;
  background-position: -382px -70px; }

.ico-view-thumbnails-unactive {
  width: 16px;
  height: 16px;
  background-position: -382px -226px; }

.ico-accordion_arrows_sprites {
  background-image: url(../img/accordion_arrows_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-checkbox_sprites {
  background-image: url(../img/checkbox_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-footer_social_icons_sprites {
  background-image: url(../img/footer_social_icons_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-header_social_icons_sprites {
  background-image: url(../img/header_social_icons_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-misc_sprites {
  background-image: url(../img/misc_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-radiobutton_sprites {
  background-image: url(../img/radiobutton_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-rating_stars_sprites {
  background-image: url(../img/rating_stars_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-select_arrows_sprites {
  background-image: url(../img/select_arrows_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.ico-view_icons_sprites {
  background-image: url(../img/view_icons_sprites/*.png);
  background-repeat: no-repeat;
  display: block; }

.container {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 1300px;
  background-color: #f4f4f4;
  padding-bottom: 30px; }
  .container .main-content {
    width: 1100px;
    position: relative;
    margin: 0 auto; }

.browser-notification {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 50px;
  width: 100%;
  text-align: center;
  font-family: 'open_sanssemibold';
  font-size: 14px; }
  .browser-notification span {
    font-family: 'open_sansbold';
    font-size: 16px; }
