extends ./_common/_layout.jade
block title
	title My fucking first page!!!
block content
	p My fucking first page!!!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Liberesse culpa harum, molestiae et id dolore numquam non facere cum. Repudiandae tenetur illum sed corporis, beatae reprehenderit eligendi sint.
	//build:css css/combined.css 
	//bower:css


	//endbower
	//endbuild	