.content {
  margin-left: 24px;
  margin-top: 135px;
  width: 743px;
  float: right; }

.models-container {
  margin-bottom: 75px; }

.content-header {
  margin-bottom: 21px;
  height: 50px;
  background-color: #e4ebee;
  font-size: 0;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden; }

.price-filter, .view-options {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.price-filter {
  margin-left: 21px; }
  .price-filter__form {
    font-family: 'open_sansregular';
    font-size: 0; }
    .price-filter__form .filter_span {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle; }
    .price-filter__form .sort-select {
      margin-left: 10px;
      outline: none !important; }

.select2-container {
  width: 145px !important;
  margin-left: 5px !important; }
  .select2-container .select2-selection {
    outline: none !important;
    position: relative !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #ebedef !important;
    border-radius: 3px !important;
    background-color: white !important;
    box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169) !important;
    width: 145px !important;
    height: 26px !important;
    z-index: 409 !important; }
  .select2-container .select2-selection__arrow b {
    height: 9px !important;
    width: 13px !important;
    border: 0 none !important;
    margin: auto !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-image: url("../img/select_arrows/select_arrows.png") !important;
    background-position: -70px -70px !important;
    background-repeat: no-repeat !important; }
  .select2-container .select2-selection__rendered {
    padding-right: 0px;
    font-size: 14px !important;
    font-family: "open_sanslight" !important;
    color: #666666 !important;
    line-height: 16px !important;
    padding-left: 15px !important;
    padding-top: 5px !important;
    width: 112px !important; }

.select2-dropdown {
  margin-left: -8px !important;
  margin-top: 2px !important;
  border-radius: 2px !important;
  background-color: white !important;
  box-shadow: 0px 1px 4.85px 0.15px rgba(134, 134, 134, 0.294) !important;
  width: 145px !important; }
  .select2-dropdown .select2-results__options {
    margin-bottom: 11px;
    margin-left: 15px;
    margin-top: 10px; }
    .select2-dropdown .select2-results__options .select2-results__option {
      font-size: 14px !important;
      font-family: "open_sanslight" !important;
      color: #666666 !important;
      line-height: 14px !important;
      padding: 0 !important;
      margin-bottom: 0;
      background-color: #ffffff !important; }
      .select2-dropdown .select2-results__options .select2-results__option:first-child {
        margin-bottom: 14px; }
      .select2-dropdown .select2-results__options .select2-results__option--highlighted {
        color: #333333 !important;
        font-family: "open_sanssemibold" !important;
        font-size: 14px !important;
        background-color: #ffffff !important; }

.select2-container--open .select2-dropdown {
  left: 3px !important; }

.select2-container--open .select2-selection__arrow b {
  background-image: url("../img/select_arrows/select_arrows.png") !important;
  width: 13px !important;
  height: 9px !important;
  background-position: -223px -70px !important;
  background-repeat: no-repeat !important; }

.view-options {
  margin-left: 196px; }
  .view-options .view__list {
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle; }
    .view-options .view__list .view__item {
      display: inline-block;
      font-family: 'open_sansregular';
      font-size: 14px;
      position: relative;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid; }
    .view-options .view__list .view__item__link_detailed-list {
      display: block;
      position: relative;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      cursor: pointer; }
    .view-options .view__list .view__item__link_thumbnails {
      display: block;
      position: relative;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      cursor: pointer; }
    .view-options .view__list .view__item__link_simple-list {
      display: block;
      position: relative;
      text-indent: -9999px;
      height: 50px;
      width: 50px;
      cursor: pointer; }
  .view-options__text {
    font-family: 'open_sansregular';
    font-size: 14px;
    vertical-align: middle; }

.view-types__list {
  list-style-type: none; }
  .view-types__list .active {
    display: block !important; }
  .view-types__list .view-types__item_detailed-list, .view-types__list .view-types__item_thumbnails, .view-types__list .view-types__item_simple-list {
    display: none; }

.detailed-list {
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  list-style-type: none;
  font-size: 0;
  margin-bottom: 66px; }
  .detailed-list .detailed-list__item {
    width: 741px;
    position: relative;
    background-color: #fbfbfb;
    font-size: 0;
    border-bottom: solid #cccccc 1px; }
    .detailed-list .detailed-list__item:hover {
      box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.294); }
  .detailed-list .model-main-info {
    margin-top: 20px;
    width: 404px;
    border-color: #dee1e4;
    display: inline-block;
    vertical-align: top; }
    .detailed-list .model-main-info .model-name {
      display: block;
      margin-top: 10px;
      margin-bottom: 30px;
      line-height: 16px;
      width: 383px;
      font-family: 'open_sanssemibold';
      font-size: 16px; }
    .detailed-list .model-main-info .desc-block {
      font-size: 14px;
      font-family: 'open_sansregular';
      line-height: 20px;
      width: 383px;
      margin-bottom: 20px;
      text-align: justify; }
    .detailed-list .model-main-info .rating {
      margin-bottom: 20px;
      width: 118px;
      font-size: 0; }
      .detailed-list .model-main-info .rating .rating__list {
        font-size: 0;
        list-style-type: none;
        display: inline-block;
        vertical-align: middle; }
        .detailed-list .model-main-info .rating .rating__list .rating__item {
          display: inline-block;
          width: 16px;
          height: 15px;
          background-image: url("../img/rating_stars/rating_stars.png");
          background-position: -226px -70px;
          background-repeat: no-repeat; }
          .detailed-list .model-main-info .rating .rating__list .rating__item.rating__item_filled {
            background-image: url("../img/rating_stars/rating_stars.png");
            background-position: -70px -70px;
            background-repeat: no-repeat; }
      .detailed-list .model-main-info .rating .rating-amount {
        color: #fbfbfb;
        font-size: 12px;
        font-family: 'open_sanssemibold';
        line-height: 15px;
        width: 30px;
        background-color: #b5beca;
        border-radius: 20px;
        margin-left: 8px;
        text-align: center;
        display: inline-block;
        vertical-align: middle; }
  .detailed-list .slideshow-block {
    width: 183px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px; }
    .detailed-list .slideshow-block .slideshow__main {
      position: relative;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      border-radius: 2px;
      width: 134px;
      height: 134px; }
      .detailed-list .slideshow-block .slideshow__main__picture {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 134px;
        max-height: 134px; }
    .detailed-list .slideshow-block .slideshow__list {
      list-style-type: none; }
    .detailed-list .slideshow-block .slideshow__item {
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      border-radius: 2px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      float: left;
      margin-left: 17px; }
      .detailed-list .slideshow-block .slideshow__item:first-child {
        margin-left: 0; }
      .detailed-list .slideshow-block .slideshow__item:hover {
        border-color: #ff6600; }
      .detailed-list .slideshow-block .slideshow__item.active {
        border-color: #ff6600; }
      .detailed-list .slideshow-block .slideshow__item__pic {
        width: 32px;
        height: 32px; }
    .detailed-list .slideshow-block .slideshow__main {
      margin-bottom: 15px;
      margin-left: 21px; }
    .detailed-list .slideshow-block .slideshow__list {
      margin-bottom: 15px;
      margin-left: 21px; }
  .detailed-list .part-number-container {
    position: relative;
    font-size: 0;
    margin-bottom: 12px;
    margin-left: 36px; }
    .detailed-list .part-number-container .part-number {
      position: relative;
      display: block;
      float: left;
      width: 53px;
      word-break: break-all;
      font-size: 12px;
      font-family: 'open_sanssemibold';
      color: #666666; }
    .detailed-list .part-number-container .part-number-value {
      position: relative;
      display: block;
      float: left;
      width: 48px;
      word-break: break-all;
      font-size: 14px;
      font-family: 'open_sansbold';
      color: #333333;
      margin-left: 5px; }
  .detailed-list .to-basket {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    height: 85%;
    width: 103px;
    border-left: #dee1e4 1px solid;
    position: absolute;
    top: 24px; }
    .detailed-list .to-basket .price {
      font-family: 'open_sanssemibold';
      color: #333333;
      line-height: 20px;
      word-break: break-all;
      right: 0;
      font-size: 20px;
      position: absolute; }
    .detailed-list .to-basket .to-basket__form {
      position: absolute;
      bottom: 9px; }
      .detailed-list .to-basket .to-basket__form .to-basket-button {
        padding: 0;
        border-radius: 5px;
        background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
        width: 103px;
        height: 33px;
        outline: none;
        border: none;
        font-size: 14px;
        font-family: 'open_sansbold';
        line-height: 20px;
        color: #ffffff;
        margin-bottom: 5px; }
    .detailed-list .to-basket .rouble-sign {
      font-family: 'PTRoubleDecorative';
      font-size: 20px;
      line-height: 20px;
      margin-left: 6px; }
    .detailed-list .to-basket .availability-state {
      margin-left: 20px;
      width: 103px;
      position: absolute;
      bottom: -6px; }
      .detailed-list .to-basket .availability-state .availability-state__text {
        font-size: 12px;
        font-family: 'open_sansbold';
        color: #7f7f7f;
        line-height: 1.667; }
        .detailed-list .to-basket .availability-state .availability-state__text:before {
          position: relative;
          display: inline-block;
          content: "";
          border-radius: 50%;
          background-color: #60ac49;
          width: 7px;
          height: 7px;
          margin-right: 8px; }

.simple-list__list {
  list-style-type: none;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 66px; }
  .simple-list__list .simple-list__item {
    background-color: #fbfbfb;
    width: 741px;
    border-bottom: solid #cccccc 1px; }
    .simple-list__list .simple-list__item:hover {
      box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.294); }
    .simple-list__list .simple-list__item .part-number-container {
      position: relative;
      font-size: 0;
      float: left;
      height: 100%;
      line-height: 50px;
      margin-left: 12px; }
      .simple-list__list .simple-list__item .part-number-container .part-number {
        position: relative;
        display: block;
        float: left;
        width: 53px;
        word-break: break-all;
        font-size: 12px;
        font-family: 'open_sanssemibold';
        color: #666666; }
      .simple-list__list .simple-list__item .part-number-container .part-number-value {
        position: relative;
        display: block;
        float: left;
        width: 48px;
        word-break: break-all;
        font-size: 14px;
        font-family: 'open_sansbold';
        color: #333333;
        margin-left: 5px; }
    .simple-list__list .simple-list__item .model-name {
      float: left;
      display: block;
      margin-left: 11px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 50px;
      height: 100%;
      font-family: 'open_sansregular';
      font-size: 14px;
      color: black;
      width: 275px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .simple-list__list .simple-list__item .price {
      font-family: 'open_sanssemibold';
      color: #333333;
      line-height: 20px;
      word-break: break-all;
      float: left;
      height: 100%;
      line-height: 50px;
      margin-left: 4px;
      text-align: right;
      width: 93px;
      font-size: 18px; }
      .simple-list__list .simple-list__item .price .rouble-sign {
        font-family: 'PTRoubleDecorative';
        font-size: 20px;
        line-height: 20px;
        margin-left: 6px; }
    .simple-list__list .simple-list__item .availability-state {
      margin-left: 20px;
      width: 83px;
      height: 100%;
      line-height: 50px;
      float: left; }
      .simple-list__list .simple-list__item .availability-state .availability-state__text {
        font-size: 12px;
        font-family: 'open_sansbold';
        color: #7f7f7f;
        line-height: 1.667; }
        .simple-list__list .simple-list__item .availability-state .availability-state__text:before {
          position: relative;
          display: inline-block;
          content: "";
          border-radius: 50%;
          background-color: #60ac49;
          width: 7px;
          height: 7px;
          margin-right: 8px; }
    .simple-list__list .simple-list__item .to-basket__form {
      margin-left: 18px;
      float: left;
      height: 100%;
      line-height: 50px; }
      .simple-list__list .simple-list__item .to-basket__form .to-basket-button {
        padding: 0;
        border-radius: 5px;
        background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
        width: 103px;
        height: 33px;
        outline: none;
        border: none;
        font-size: 14px;
        font-family: 'open_sansbold';
        line-height: 20px;
        color: #ffffff; }

.thumbnails__list {
  list-style-type: none;
  margin-bottom: 66px;
  width: 743px; }
  .thumbnails__list .thumbnails__item {
    position: relative;
    margin-left: 19px;
    margin-bottom: 19px;
    float: left;
    width: 233px;
    height: 514px;
    border-style: solid;
    border-width: 1px;
    border-color: #dee1e4;
    background-color: rgba(255, 255, 255, 0.6); }
    .thumbnails__list .thumbnails__item:nth-child(3n+1) {
      margin-left: 0; }
    .thumbnails__list .thumbnails__item:nth-child(n+7) {
      margin-bottom: 0; }
    .thumbnails__list .thumbnails__item:hover {
      box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.294); }
    .thumbnails__list .thumbnails__item__wrapper {
      width: 213px;
      height: 473px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: -ms-translate(-50%, -50%); }
      .thumbnails__list .thumbnails__item__wrapper .slideshow-block {
        position: relative;
        width: 139px;
        height: 185px;
        display: block;
        margin-bottom: 16px;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        left: 50%; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__main {
          position: relative;
          border-width: 1px;
          border-color: #dee1e4;
          border-style: solid;
          border-radius: 2px;
          width: 134px;
          height: 134px; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__main__picture {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            max-width: 134px;
            max-height: 134px; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__list {
          list-style-type: none; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item {
          border-width: 1px;
          border-color: #dee1e4;
          border-style: solid;
          border-radius: 2px;
          width: 32px;
          height: 32px;
          overflow: hidden;
          float: left;
          margin-left: 17px; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item:first-child {
            margin-left: 0; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item:hover {
            border-color: #ff6600; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item.active {
            border-color: #ff6600; }
          .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__item__pic {
            width: 32px;
            height: 32px; }
        .thumbnails__list .thumbnails__item__wrapper .slideshow-block .slideshow__main {
          margin-bottom: 15px; }
      .thumbnails__list .thumbnails__item__wrapper .model-name {
        font-family: 'open_sanssemibold';
        font-size: 14px;
        color: #000000;
        margin-top: 0;
        text-align: center; }
      .thumbnails__list .thumbnails__item__wrapper .params__list {
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        list-style-type: none;
        margin-bottom: 8px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item:nth-child(odd) {
          background-color: #e6e6e6;
          height: 21px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item:nth-child(even) {
          background-color: #fbfbfb;
          height: 21px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-name, .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-value {
          font-family: 'open_sansregular';
          font-size: 14px; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-name {
          margin-left: 2px;
          float: left; }
        .thumbnails__list .thumbnails__item__wrapper .params__list .params__item .param-value {
          margin-right: 2px;
          text-align: right; }
      .thumbnails__list .thumbnails__item__wrapper .rating {
        position: relative;
        margin-bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        width: 118px;
        font-size: 0; }
        .thumbnails__list .thumbnails__item__wrapper .rating .rating__list {
          font-size: 0;
          list-style-type: none;
          display: inline-block;
          vertical-align: middle; }
          .thumbnails__list .thumbnails__item__wrapper .rating .rating__list .rating__item {
            display: inline-block;
            width: 16px;
            height: 15px;
            background-image: url("../img/rating_stars/rating_stars.png");
            background-position: -226px -70px;
            background-repeat: no-repeat; }
            .thumbnails__list .thumbnails__item__wrapper .rating .rating__list .rating__item.rating__item_filled {
              background-image: url("../img/rating_stars/rating_stars.png");
              background-position: -70px -70px;
              background-repeat: no-repeat; }
        .thumbnails__list .thumbnails__item__wrapper .rating .rating-amount {
          color: #fbfbfb;
          font-size: 12px;
          font-family: 'open_sanssemibold';
          line-height: 15px;
          width: 30px;
          background-color: #b5beca;
          border-radius: 20px;
          margin-left: 8px;
          text-align: center;
          display: inline-block;
          vertical-align: middle; }
      .thumbnails__list .thumbnails__item__wrapper .price {
        font-family: 'open_sanssemibold';
        color: #333333;
        line-height: 20px;
        word-break: break-all;
        position: relative;
        left: 50%;
        width: 103px;
        word-break: break-all;
        transform: translateX(-50%);
        -ms-transform: -ms-translateX(-50%);
        text-align: center;
        font-size: 20px;
        margin-bottom: 9px; }
        .thumbnails__list .thumbnails__item__wrapper .price .rouble-sign {
          font-family: 'PTRoubleDecorative';
          font-size: 20px;
          line-height: 20px;
          margin-left: 6px; }
      .thumbnails__list .thumbnails__item__wrapper .availability-state {
        position: relative;
        margin-left: 9px;
        width: 83px;
        display: inline-block;
        vertical-align: middle; }
        .thumbnails__list .thumbnails__item__wrapper .availability-state .availability-state__text {
          font-size: 12px;
          font-family: 'open_sansbold';
          color: #7f7f7f;
          line-height: 1.667; }
          .thumbnails__list .thumbnails__item__wrapper .availability-state .availability-state__text:before {
            position: relative;
            display: inline-block;
            content: "";
            border-radius: 50%;
            background-color: #60ac49;
            width: 7px;
            height: 7px;
            margin-right: 8px; }
      .thumbnails__list .thumbnails__item__wrapper .to-basket__form {
        display: inline-block;
        margin-right: 12px; }
        .thumbnails__list .thumbnails__item__wrapper .to-basket__form .to-basket-button {
          padding: 0;
          border-radius: 5px;
          background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
          width: 103px;
          height: 33px;
          outline: none;
          border: none;
          font-size: 14px;
          font-family: 'open_sansbold';
          line-height: 20px;
          color: #ffffff; }

.pagination {
  text-align: right; }
  .pagination__list {
    font-size: 0; }
  .pagination__item {
    display: inline-block;
    border-width: 1px;
    border-color: #dee1e4;
    border-style: solid;
    border-radius: 3px;
    width: 24px;
    height: 23px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #fbfbfb;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.392); }
    .pagination__item:first-child {
      margin-left: 0; }
    .pagination__item:hover {
      background-color: #e0e0e0;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.047); }
  .pagination__link {
    display: block;
    line-height: 23px;
    font-family: 'open_sansbold';
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    text-align: center; }
  .pagination__item.pagination__item_prev {
    content: "<"; }
  .pagination__item.pagination__item_next {
    content: ">"; }

.attention {
  clear: both; }
  .attention .attention__text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-indent: 37px;
    text-align: justify; }
  .attention .attention__text .column.first {
    float: left !important; }
  .attention .attention__text .column.last {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding-left: 42px;
    float: right !important; }
