.footer {
  position: relative;
  height: 221px;
  width: 100%;
  min-width: 1300px;
  background: url("../img/pattern/pattern.png"); }
  .footer__logo__link {
    display: inline-block;
    margin-left: 79px;
    margin-top: 72px;
    float: left; }
    .footer__logo__link .logo__text {
      position: absolute;
      left: -9999px; }
  .footer .footer__right-column {
    float: right;
    margin-bottom: 17px; }
  .footer .footer__social {
    position: relative;
    height: 43px;
    width: auto; }
    .footer .footer__social__list {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .footer .footer__social__list .footer__social__item {
        display: inline-block;
        vertical-align: top;
        margin-left: 26px;
        width: 43px;
        height: 43px; }
        .footer .footer__social__list .footer__social__item:first-child {
          margin-left: 0px; }
        .footer .footer__social__list .footer__social__item .footer__social__link_FB {
          position: relative;
          display: block;
          text-indent: -9999px; }
        .footer .footer__social__list .footer__social__item .footer__social__link_VK {
          position: relative;
          display: block;
          text-indent: -9999px; }
        .footer .footer__social__list .footer__social__item .footer__social__link_TW {
          position: relative;
          display: block;
          text-indent: -9999px; }
  .footer__social {
    margin-bottom: 19px;
    margin-right: 83px;
    margin-top: 35px; }
    .footer__social__list {
      float: right; }
  .footer__nav {
    float: right;
    margin-right: 83px; }
    .footer__nav__container {
      width: 576px; }
    .footer__nav__list {
      list-style-type: none;
      font-size: 0;
      text-align: right; }
    .footer__nav__item {
      display: inline-block;
      margin-left: 30px;
      margin-bottom: 23px; }
    .footer__nav__link {
      font-size: 14px;
      font-family: 'open_sansregular';
      color: #ffffff; }
      .footer__nav__link:hover {
        text-decoration: none; }
  .footer .copyright {
    margin: 0;
    clear: both;
    font-family: 'open_sansregular';
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 11px;
    line-height: 12px; }
