.footer {
  background: url("../../img/pattern.png"); }
  .footer .footer__social {
    position: relative;
    height: 44px;
    width: auto;
    float: right; }
    .footer .footer__social__list {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .footer .footer__social__list .footer__social__item {
        display: inline-block;
        vertical-align: top;
        margin-left: 26px;
        width: 44px;
        height: 44px; }
        .footer .footer__social__list .footer__social__item:first-child {
          margin-left: 0px; }
        .footer .footer__social__list .footer__social__item .footer__social__link_FB {
          position: relative;
          display: block;
          background-image: url("../../img/footer-FB.png");
          text-indent: -9999px;
          height: 100%;
          width: 100%; }
          .footer .footer__social__list .footer__social__item .footer__social__link_FB:hover {
            background-image: url("../../img/footer-FB-hover.png"); }
        .footer .footer__social__list .footer__social__item .footer__social__link_VK {
          position: relative;
          display: block;
          background-image: url("../../img/footer-VK.png");
          text-indent: -9999px;
          height: 100%;
          width: 100%; }
          .footer .footer__social__list .footer__social__item .footer__social__link_VK:hover {
            background-image: url("../../img/footer-VK-hover.png"); }
        .footer .footer__social__list .footer__social__item .footer__social__link_TW {
          position: relative;
          display: block;
          background-image: url("../../img/footer-TW.png");
          text-indent: -9999px;
          height: 100%;
          width: 100%; }
          .footer .footer__social__list .footer__social__item .footer__social__link_TW:hover {
            background-image: url("../../img/footer-TW-hover.png"); }
