@charset "UTF-8";
.sidebar {
  float: left; }

.nav-history {
  margin-top: 34px;
  margin-bottom: 30px; }
  .nav-history__container {
    margin-bottom: 26px; }
  .nav-history .nav-history__list {
    font-size: 12px; }
  .nav-history .nav-history__item {
    display: inline-block; }
    .nav-history .nav-history__item .nav-history__link {
      font-family: 'open_sansregular';
      font-size: 14px;
      color: #333333;
      text-decoration: none; }
    .nav-history .nav-history__item:after {
      margin-left: 3px;
      content: ">"; }
  .nav-history .nav-history__item_active {
    display: inline-block; }
    .nav-history .nav-history__item_active .nav-history__link {
      color: #ff6600;
      font-family: 'open_sansregular';
      font-size: 14px; }
  .nav-history .current-section__name {
    width: 331px;
    margin: 0;
    padding: 0;
    font-family: 'open_sansbold';
    font-size: 20px; }

.preferences {
  width: 331px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 38px; }
  .preferences .preferences__list {
    list-style-type: none; }
  .preferences .preferences__item_active {
    background-color: #d9e5ea; }
    .preferences .preferences__item_active .preferences__item__link_active {
      padding-left: 30px;
      display: block;
      height: 45px;
      line-height: 45px;
      color: #666666;
      font-size: 14px;
      font-family: 'open_sansregular';
      text-decoration: none; }
  .preferences .preferences__item {
    background-color: #fbfbfb; }
    .preferences .preferences__item .preferences__item__link {
      padding-left: 30px;
      display: block;
      height: 45px;
      line-height: 45px;
      color: #666666;
      font-size: 14px;
      font-family: 'open_sansregular';
      text-decoration: none; }

.selection_settings {
  width: 331px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden; }
  .selection_settings .accordion__item_header {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 21px;
    display: block;
    vertical-align: top;
    cursor: pointer;
    /* .arrow_down{  // Разворот стрелки при раскрытии аккордеона
				background:url('../img/arrow_down.png') no-repeat 0 4px;
			} */ }
    .selection_settings .accordion__item_header .header-text {
      font-family: 'open_sanssemibold';
      font-size: 16px;
      color: #333333;
      position: relative;
      vertical-align: middle;
      width: 270px;
      word-break: break-all; }
    .selection_settings .accordion__item_header .accordion__item_arrow {
      float: right;
      margin-right: 10px;
      text-indent: -9999px;
      position: relative;
      display: inline-block;
      /* width:18px;
			height:17px; */ }
  .selection_settings .accordion__item {
    display: block;
    font-size: 0;
    padding-left: 30px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #cccccc; }
    .selection_settings .accordion__item:last-child {
      border-bottom: none; }
  .selection_settings .radiobutton__value, .selection_settings .checkbox__value {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle; }
  .selection_settings .reset__button {
    position: absolute;
    margin-left: -9999px; }
  .selection_settings .reset_text {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #6699ff;
    text-decoration: underline;
    cursor: pointer; }
  .selection_settings .colors__list {
    font-size: 0;
    width: 220px; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_1 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #ffffff;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_1:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_2 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #cccccc;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_2:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_3 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #000000;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_3:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_4 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #0a3153;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_4:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_5 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #ff1800;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_5:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_6 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #fff343;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_6:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_7 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #fb914a;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_7:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_8 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #92c37c;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_8:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_9 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #40a6ff;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_9:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_10 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #9870ad;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_10:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_11 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #dc78ad;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_11:hover {
          border-color: #ff6600; }
    .selection_settings .colors__list .color__item {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 39px;
      height: 39px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 20px;
      border: transparent solid 2px; }
      .selection_settings .colors__list .color__item:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item:nth-child(n+9) {
        margin-bottom: 0; }
      .selection_settings .colors__list .color__item.active {
        border-color: #ff6600; }
      .selection_settings .colors__list .color__item .color__item__inner_12 {
        display: block;
        border-width: 1px;
        border-color: #dee1e4;
        border-style: solid;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background-color: #7f401d;
        width: 35px;
        height: 35px;
        z-index: 164;
        cursor: pointer; }
        .selection_settings .colors__list .color__item .color__item__inner_12:hover {
          border-color: #ff6600; }

.checkbox-wrapper, .radiobutton-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer; }

.checkbox__item, .radiobutton__item {
  position: absolute;
  margin-left: -9999px; }

.fake-checkbox {
  word-wrap: break-word;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-image: url("../img/checkbox/checkbox.png");
  background-repeat: no-repeat;
  background-position: -70px -229px; }

.checkbox__item:active + .fake-checkbox {
  background-image: url("../img/checkbox/checkbox.png");
  background-repeat: no-repeat;
  background-position: -229px -70px; }

.checkbox__item:checked + .fake-checkbox {
  background-image: url("../img/checkbox/checkbox.png");
  background-repeat: no-repeat;
  background-position: -70px -70px; }

.fake-radiobutton {
  word-wrap: break-word;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-image: url("../img/radiobutton/radiobutton.png");
  background-position: -70px -229px;
  background-repeat: no-repeat; }

.radiobutton__item:checked + .fake-radiobutton {
  background-image: url("../img/radiobutton/radiobutton.png");
  background-position: -229px -70px;
  background-repeat: no-repeat; }

.radiobutton__item:active + .fake-radiobutton {
  background-image: url("../img/radiobutton/radiobutton.png");
  background-position: -70px -70px;
  background-repeat: no-repeat; }

.price__slider {
  font-size: 12px;
  margin-bottom: 33px; }
  .price__slider .min-range {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #333333; }
    .price__slider .min-range__input {
      border-style: solid;
      border-width: 1px;
      border-color: #ebedef;
      border-radius: 3px;
      background-color: white;
      box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169);
      width: 79px;
      height: 26px;
      font-family: 'open_sanssemibold';
      font-size: 14px;
      color: #333333;
      outline: none;
      padding-left: 8px; }
  .price__slider .max-range {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #333333; }
    .price__slider .max-range__input {
      border-style: solid;
      border-width: 1px;
      border-color: #ebedef;
      border-radius: 3px;
      background-color: white;
      box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169);
      width: 79px;
      height: 26px;
      font-family: 'open_sanssemibold';
      font-size: 14px;
      color: #333333;
      outline: none;
      padding-left: 8px; }
  .price__slider .range-block {
    margin-bottom: 18px; }
    .price__slider .range-block .min-range {
      display: inline-block; }
    .price__slider .range-block .max-range {
      margin-left: 47px; }
    .price__slider .range-block .min-range__input, .price__slider .range-block .max-range__input {
      margin-left: 8px; }

.accordion__inner__list {
  display: none;
  margin-bottom: 19px;
  list-style-type: none; }
  .accordion__inner__list .accordion__inner__item {
    margin-bottom: 16px;
    display: block; }
    .accordion__inner__list .accordion__inner__item .text-value {
      font-family: 'open_sansregular';
      font-size: 14px;
      color: #333333;
      vertical-align: middle;
      margin-left: 9px; }
