.sidebar {
  float: left; }

.nav-history {
  margin-top: 34px;
  margin-bottom: 30px; }
  .nav-history__container {
    margin-bottom: 26px; }
  .nav-history .nav-history__list {
    font-size: 12px; }
  .nav-history .nav-history__item {
    display: inline-block; }
    .nav-history .nav-history__item .nav-history__link {
      font-family: 'open_sansregular';
      font-size: 14px;
      color: #333333;
      text-decoration: none; }
    .nav-history .nav-history__item:after {
      margin-left: 3px;
      content: ">"; }
  .nav-history .nav-history__item_active {
    display: inline-block; }
    .nav-history .nav-history__item_active .nav-history__link {
      color: #ff6600;
      font-family: 'open_sansregular';
      font-size: 14px; }
  .nav-history .current-section__name {
    width: 331px;
    margin: 0;
    padding: 0;
    font-family: 'open_sansbold';
    font-size: 20px; }

.preferences {
  width: 331px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 38px; }
  .preferences .preferences__list {
    list-style-type: none; }
  .preferences .preferences__item_active {
    background-color: #d9e5ea; }
    .preferences .preferences__item_active .preferences__item__link_active {
      padding-left: 30px;
      display: block;
      height: 45px;
      line-height: 45px;
      color: #666666;
      font-size: 14px;
      font-family: 'open_sansregular';
      text-decoration: none; }
  .preferences .preferences__item {
    background-color: #fbfbfb; }
    .preferences .preferences__item .preferences__item__link {
      padding-left: 30px;
      display: block;
      height: 45px;
      line-height: 45px;
      color: #666666;
      font-size: 14px;
      font-family: 'open_sansregular';
      text-decoration: none; }

.selection_settings {
  width: 331px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: solid #cccccc 1px;
  border-radius: 6px;
  overflow: hidden; }
  .selection_settings .accordion__item_header {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 21px;
    display: block;
    vertical-align: top;
    cursor: pointer; }
    .selection_settings .accordion__item_header .header-text {
      display: inline-block;
      font-family: 'open_sanssemibold';
      font-size: 16px;
      color: #333333;
      position: relative;
      vertical-align: middle;
      width: 271px;
      word-break: break-all; }
    .selection_settings .accordion__item_header .accordion__item_arrow {
      float: right;
      margin-right: 10px;
      text-indent: -9999px;
      position: relative;
      display: inline-block;
      width: 18px;
      height: 17px;
      background: url("../img/arrow.png") no-repeat 0 7px; }
  .selection_settings .arrow_down {
    background: url("../img/arrow_down.png") no-repeat 0 4px; }
  .selection_settings .accordion__item {
    display: block;
    font-size: 0;
    padding-left: 30px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #cccccc; }
    .selection_settings .accordion__item:last-child {
      border-bottom: none; }
  .selection_settings .radiobutton__value, .selection_settings .checkbox__value {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle; }
  .selection_settings .reset__button {
    position: absolute;
    margin-left: -9999px; }
  .selection_settings .reset_text {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #6699ff;
    text-decoration: underline;
    cursor: pointer; }
  .selection_settings .colors__list {
    font-size: 0;
    width: 206px; }
    .selection_settings .colors__list .color__item_1 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #ffffff;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_1:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_1:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_2 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #cccccc;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_2:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_2:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_3 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #000000;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_3:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_3:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_4 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #0a3153;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_4:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_4:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_5 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #ff1800;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_5:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_5:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_6 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #fff343;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_6:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_6:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_7 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #fb914a;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_7:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_7:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_8 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #92c37c;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_8:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_8:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_9 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #40a6ff;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_9:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_9:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_10 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #9870ad;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_10:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_10:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_11 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #dc78ad;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_11:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_11:hover {
        border-color: #ff6600; }
    .selection_settings .colors__list .color__item_12 {
      display: inline-block;
      border-width: 1px;
      border-color: #dee1e4;
      border-style: solid;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      margin-bottom: 22px;
      background-color: #7f401d;
      width: 35px;
      height: 35px;
      z-index: 164;
      cursor: pointer;
      margin-left: 22px; }
      .selection_settings .colors__list .color__item_12:nth-child(4n+1) {
        margin-left: 0; }
      .selection_settings .colors__list .color__item_12:hover {
        border-color: #ff6600; }

.checkbox-wrapper, .radiobutton-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer; }

.checkbox__item, .radiobutton__item {
  position: absolute;
  margin-left: -9999px; }

.fake-checkbox {
  word-wrap: break-word;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-image: url("../img/checkbox-unactive.png"); }

.checkbox__item:active + .fake-checkbox {
  background-image: url("../img/checkbox-active-hover.png"); }

.checkbox__item:checked + .fake-checkbox {
  background-image: url("../img/checkbox-active.png"); }

.fake-radiobutton {
  word-wrap: break-word;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-image: url("../img/radiobutton-unchecked.png"); }

.radiobutton__item:checked + .fake-radiobutton {
  background-image: url("../img/radiobutton-checked.png"); }

.radiobutton__item:active + .fake-radiobutton {
  background-image: url("../img/radiobutton-active.png"); }

.price__slider {
  font-size: 12px;
  margin-bottom: 33px; }
  .price__slider .min-range {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #333333; }
    .price__slider .min-range__input {
      border-style: solid;
      border-width: 1px;
      border-color: #ebedef;
      border-radius: 3px;
      background-color: white;
      box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169);
      width: 79px;
      height: 26px;
      font-family: 'open_sanssemibold';
      font-size: 14px;
      color: #333333;
      outline: none;
      padding-left: 8px; }
  .price__slider .max-range {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #333333; }
    .price__slider .max-range__input {
      border-style: solid;
      border-width: 1px;
      border-color: #ebedef;
      border-radius: 3px;
      background-color: white;
      box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.169);
      width: 79px;
      height: 26px;
      font-family: 'open_sanssemibold';
      font-size: 14px;
      color: #333333;
      outline: none;
      padding-left: 8px; }
  .price__slider .range-block {
    margin-bottom: 18px; }
    .price__slider .range-block .min-range {
      display: inline-block; }
    .price__slider .range-block .max-range {
      margin-left: 47px; }
    .price__slider .range-block .min-range__input, .price__slider .range-block .max-range__input {
      margin-left: 8px; }

.accordion__inner__list {
  display: none;
  margin-bottom: 19px;
  list-style-type: none; }
  .accordion__inner__list .accordion__inner__item {
    margin-bottom: 16px;
    display: block; }
    .accordion__inner__list .accordion__inner__item .text-value {
      font-family: 'open_sansregular';
      font-size: 14px;
      color: #333333;
      vertical-align: middle;
      margin-left: 9px; }
    .accordion__inner__list .accordion__inner__item:last-child {
      margin-bottom: 0; }
