.ico-arrow {
  background-image: url("../img/accordion_arrows/accordion_arrows.png");
  width: 18px;
  height: 22px;
  background-position: -70px -64px;
  background-repeat: no-repeat; }

.ico-arrow_down {
  width: 18px;
  height: 22px;
  background-position: -228px -64px;
  background-repeat: no-repeat;
  background-image: url("../img/accordion_arrows/accordion_arrows.png"); }
