.ico {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.ico-checkbox-active {
  width: 19px;
  height: 19px;
  background-position: -70px -70px; }

.ico-checkbox-active-hover {
  width: 19px;
  height: 19px;
  background-position: -229px -70px; }

.ico-checkbox-unactive {
  width: 19px;
  height: 19px;
  background-position: -70px -229px; }
