.ico-header__social-FB {
  width: 26px;
  height: 26px;
  background-position: -70px -70px; }

.ico-header__social-FB:hover {
  width: 26px;
  height: 26px;
  background-position: -236px -70px; }

.ico-header__social-TW {
  width: 26px;
  height: 26px;
  background-position: -70px -236px; }

.ico-header__social-TW:hover {
  width: 26px;
  height: 26px;
  background-position: -236px -236px; }

.ico-header__social-VK {
  width: 27px;
  height: 26px;
  background-position: -402px -70px; }

.ico-header__social-VK:hover {
  width: 27px;
  height: 26px;
  background-position: -402px -236px; }
