.ico-arrow {
  background-image: url("../img/accordion_arrows/accordion_arrows.png");
  width: 18px;
  height: 11px;
  background-position: -70px -70px;
  background-repeat: no-repeat; }

.ico-arrow_down {
  width: 18px;
  height: 11px;
  background-position: -228px -70px;
  background-repeat: no-repeat;
  background-image: url("../img/accordion_arrows/accordion_arrows.png"); }

.ico-footer__social-FB {
  width: 43px;
  height: 43px;
  background-position: -70px -70px; }

.ico-footer__social-FB:hover {
  width: 43px;
  height: 43px;
  background-position: -253px -70px; }

.ico-footer__social-TW {
  width: 43px;
  height: 43px;
  background-position: -70px -253px; }

.ico-footer__social-TW:hover {
  width: 43px;
  height: 43px;
  background-position: -253px -253px; }

.ico-footer__social-VK {
  width: 43px;
  height: 43px;
  background-position: -436px -70px; }

.ico-footer__social-VK:hover {
  width: 43px;
  height: 43px;
  background-position: -436px -253px; }

.ico-header__social-FB {
  width: 26px;
  height: 26px;
  background-position: -70px -70px; }

.ico-header__social-FB:hover {
  width: 26px;
  height: 26px;
  background-position: -236px -70px; }

.ico-header__social-TW {
  width: 26px;
  height: 26px;
  background-position: -70px -236px; }

.ico-header__social-TW:hover {
  width: 26px;
  height: 26px;
  background-position: -236px -236px; }

.ico-header__social-VK {
  width: 27px;
  height: 26px;
  background-position: -402px -70px; }

.ico-header__social-VK:hover {
  width: 27px;
  height: 26px;
  background-position: -402px -236px; }

.ico-map-pin {
  width: 12px;
  height: 16px;
  background-position: -217px -70px; }

.ico-slider-handle {
  width: 8px;
  height: 14px;
  background-position: -369px -70px; }

.ico-telephone {
  width: 12px;
  height: 16px;
  background-position: -369px -224px; }

.ico-view-detailed-list:hover, .view__list .view__item.active .view__item__link_detailed-list {
  background-image: url("../img/view_icons/view_icons.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -70px -70px;
  background-repeat: no-repeat; }

.ico-view-detailed-list {
  background-image: url("../img/view_icons/view_icons.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -226px -70px;
  background-repeat: no-repeat; }

.ico-view-simple-list:hover, .view__list .view__item.active .view__item__link_simple-list {
  background-image: url("../img/view_icons/view_icons.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -70px -226px;
  background-repeat: no-repeat; }

.ico-view-simple-list {
  background-image: url("../img/view_icons/view_icons.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -226px -226px;
  background-repeat: no-repeat; }

.ico-view-thumbnails:hover, .view__list .view__item.active .view__item__link_thumbnails {
  background-image: url("../img/view_icons/view_icons.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -382px -70px;
  background-repeat: no-repeat; }

.ico-view-thumbnails {
  background-image: url("../img/view_icons/view_icons.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -382px -226px;
  background-repeat: no-repeat; }

.ico-accordion_arrows_sprites {
  background-image: url(../img/accordion_arrows_sprites/accordion_arrows_sprites.png);
  background-repeat: no-repeat;
  display: block; }

.ico-footer__social_icons {
  background-image: url(../img/footer__social_icons/footer__social_icons.png);
  background-repeat: no-repeat;
  display: block; }

.ico-header__social_icons {
  background-image: url(../img/header__social_icons/header__social_icons.png);
  background-repeat: no-repeat;
  display: block; }

.ico-misc_sprites {
  background-image: url(../img/misc_sprites/misc_sprites.png);
  background-repeat: no-repeat;
  display: block; }

.ico-view_icons_sprites {
  background-image: url(../img/view_icons_sprites/view_icons_sprites.png);
  background-repeat: no-repeat;
  display: block; }
