.ico-view-detailed-list-active {
  width: 16px;
  height: 16px;
  background-position: -70px -70px; }

.ico-view-detailed-list-unactive {
  width: 16px;
  height: 16px;
  background-position: -226px -70px; }

.ico-view-simple-list-active {
  width: 16px;
  height: 16px;
  background-position: -70px -226px; }

.ico-view-simple-list-unactive {
  width: 16px;
  height: 16px;
  background-position: -226px -226px; }

.ico-view-thumbnails-active {
  width: 16px;
  height: 16px;
  background-position: -382px -70px; }

.ico-view-thumbnails-unactive {
  width: 16px;
  height: 16px;
  background-position: -382px -226px; }
