//build:js dist/js/combined.js 

//bower:js


//endbower
script(type="text/javascript" src="bower_components/jquery/dist/jquery.js")
script(type="text/javascript" src="bower_components/jquery-ui-slider/jquery-ui.js")
script(src="js/clickColor.js")
script(src="js/accordion.js")
script(src="js/slider.js")
script(src="js/slideshow.js")
//endbuild