//build:js dist/js/combined.js 

//bower:js


//endbower
script(type="text/javascript" src="bower_components/jquery/dist/jquery.js")
script(type="text/javascript" src="bower_components/jquery-ui-slider/jquery-ui.js")
script(type="text/javascript" src="bower_components/select2/dist/js/select2.js")
script(type="text/javascript" src="bower_components/jquery.columnizer/src/jquery.columnizer.js")
script(src="js/customSelect.js")
script(src="js/clickColor.js")
script(src="js/accordion.js")
script(src="js/slider.js")
script(src="js/slideshow.js")
script(src="js/columnize.js")
script(src="js/tabs.js")
script(src="js/ratingWidget.js")
//endbuild