include _mixin.jade
header.header.clearfix
	header.header1-container
		.header1-content.clearfix
			-socials={'FB':'http://www.facebook.com/daniil.yanenko', 'VK':'http://vk.com/daniilyanenko', 'TW':'http://twitter.com'};
			+iterate('header__social', socials)
			address.address
				ul.address__list
					li.address__string ул. Маяковская 6, офис 17
					li.phone__string 
						a.phone__string__link(href="tel:+79211231213") +7 (921) 123-12-13
	header.header2-container
		.header2-content
			img.logo(src="./img/logo.png" alt="logo")
			.search-block
				form.search-form(method="post" id="search-form" action="#")
					input.search-block__textinput(type='search' placeholder="Что будем искать")
					input.search-block__buttoninput(type="submit" value="Найти")
			.header2-links
				- headerLinks=['Карта проезда', 'История заказов', 'Корзина']
				ul.header2-links__list
					each val in headerLinks
						li.header2-links__item
							a(href="#" target="blank" class="header2-links__item-link")= val
	

			



			