head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	
	
	
	// SEO
	meta(name = "description" content="loftschool_homework")
	meta(name="keywords" content="loftschool_homework")
	meta(name="author" content="Daniil Ianenko")

	// favicon
	link(rel="icon" href="img/icons/favicon.ico" type="image/x-icon")
	link(rel="shortcut icon" type="image/x-icon" href="img/icons/favicon.ico")


	//Fonts

	link(rel="stylesheet"  href="Fonts/Fonts.css")

	//CSS
	
	//build:css css/vendor.css

	link(rel="stylesheet" href="bower_components/jquery-ui-slider/jquery-ui.structure.css")
	link(rel="stylesheet" href="bower_components/select2/dist/css/select2.css")
	//bower:css
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />

	//endbower
	//endbuild

	//build:css css/combined.css
	link(rel="stylesheet" href="css/main.css")
	//endbuild
	
	//Modernizer
	
	//build:js js/modernizr.js	
	script(src="bower_components/modernizr/modernizr.js")
	//endbuild	