doctype html
html(lang="ru-RU")
	include ./_head.jade
		block title 
	body
		include ./_header.jade
		include ./_nav.jade
		.container
			.main-content.clearfix
				include ./_sidebar.jade
				block content
				
		include ./_footer.jade
		include ./_foot.jade