doctype html
html(lang="ru=RU")
	include ./_common/_head.jade
	block title 
	title Default
	body
		include ./_common/_nav.jade
		include ./_common/_sidebar.jade
		block content

	
	include ./_common/_footer.jade


