- navLinks = {'Планшеты': '#', 'Мобильные телефоны': '#', 'Mp3 плееры': '#', 'Персональные компьютеры': '#', 'Ноутбуки': '#', 'Аксессуары': '#', 'Бытовая техника': '#'}
	+nav('navigate', navLinks, 2)
	block navHistory
		+nav("navHistory", history, 2)
		header.current-section
			h1.current-section__name= currentPage 
	
	

		
