//-include _mixin.jade
sidebar.sidebar
	section.preferences
		ul.preferences__list
			li.preferences__item Флагманы
			li.preferences__item Бюджетная линейка
	section.selection_settings
		form.settings__filter(method="post" action="#")
			ul.accordion__list
				li.accordion__item
					section.presence
						ul.presence__list
							li.presence__item
								input.radiobutton__item(type="radio" name="radiobutton__item" id="radiobutton__item_1")
								span.radiobutton__value Во всех магазинах
							li.presence__item
								input.radiobutton__item(type="radio" name="radiobutton__item" id="radiobutton__item_2")
								span.radiobutton__value В ближайшем ко мне магазине
					section.brands
						ul.brands__list
							li.brands__item
								input.checkbox__item(type="checkbox" id="checkbox__item_1")
								span.checkbox__value Lenovo
							li.brands__item
								input.checkbox__item(type="checkbox" id="checkbox__item_2")
								span.checkbox__value Apple
							li.brands__item
								input.checkbox__item(type="checkbox" id="checkbox__item_3")
								span.checkbox__value Samsung
							li.brands__item
								input.checkbox__item(type="checkbox" id="checkbox__item_4")
								span.checkbox__value Asus
							li.brands__item
								input.checkbox__item(type="checkbox" id="checkbox__item_5")
								span.checkbox__value Motorola
					section.price
						.price__slider
					section.color
						//- -var colors = 12
						//- +colorList(colors)
					section.os
						ul.os__list
							li.os__item
								input.checkbox__item(type="checkbox" id="checkbox__item_1")
								span.checkbox__value Android
							li.os__item
								input.checkbox__item(type="checkbox" id="checkbox__item_2")
								span.checkbox__value iOS
							li.os__item
								input.checkbox__item(type="checkbox" id="checkbox__item_3")
								span.checkbox__value Windows Mobile
							li.os__item
								input.checkbox__item(type="checkbox" id="checkbox__item_4")
								span.checkbox__value Symbian
							li.os__item
								input.checkbox__item(type="checkbox" id="checkbox__item_5")
								span.checkbox__value Custom
					section.reset
						input.reset__button(type="reset" id="reset__button" value="Сбросить фильтр")

					





						