include _mixin.jade
aside.sidebar
	block nav-history
		+nav('nav-history', history, 2)
			h1.current-section__name= currentPage
	section.preferences
		ul.preferences__list
			li.preferences__item_active
				a.preferences__item__link_active(href="#") Флагманы
			li.preferences__item 
				a.preferences__item__link(href="#") Бюджетная линейка
	section.selection_settings
		form.settings__filter(method="post" action="#")
			ul.accordion__list
				li.accordion__item
					h2.accordion__item_header
						span.header-text Наличие в магазинах
						.accordion__item_arrow Стрелка для аккордеона
					ul.presence__list.accordion__inner__list
						li.presence__item.accordion__inner__item
							label.radiobutton-wrapper
								input.radiobutton__item(type="radio" name="radiobutton__item" id="radiobutton__item_1")
								span.fake-radiobutton
								span.text-value Во всех магазинах
						li.presence__item.accordion__inner__item
							label.radiobutton-wrapper
								input.radiobutton__item(type="radio" name="radiobutton__item" id="radiobutton__item_2")
								span.fake-radiobutton
								span.text-value В ближайшем ко мне магазине
				li.accordion__item
					h2.accordion__item_header
						span.header-text Бренды
						.accordion__item_arrow Стрелка для аккордеона
					ul.brands__list.accordion__inner__list
						li.brands__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_1")
								span.fake-checkbox
								span.text-value Lenovo
						li.brands__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_2")
								span.fake-checkbox
								span.text-value Apple
						li.brands__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_3")
								span.fake-checkbox
								span.text-value Samsung
						li.brands__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_4")
								span.fake-checkbox
								span.text-value Asus
						li.brands__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_5")
								span.fake-checkbox
								span.text-value Motorola
						li.brands__reset.accordion__inner__item
							label.label_reset
								span.reset_text Сбросить фильтр
								input.reset__button(type="reset" id="reset__button_brands" value="Сбросить фильтр")
				li.accordion__item
					h2.accordion__item_header
						span.header-text Цена
						.accordion__item_arrow Стрелка для аккордеона
					.price__slider.accordion__inner__list
						.accordion__inner__item
							.range-block
								span.min-range от
								input.min-range__input(type="text" id="min-range" value="100")
								span.max-range до
								input.max-range__input(type="text" id="max-range" value="13000")
							div(id="slider" data-min-value="100" data-max-value="13000")
				li.accordion__item
					h2.accordion__item_header
						span.header-text Цвет
						.accordion__item_arrow Стрелка для аккордеона
					-var colors = 12
					+colorList(colors)
				li.accordion__item
					h2.accordion__item_header
						span.header-text Операционные системы
						.accordion__item_arrow Стрелка для аккордеона
					ul.os__list.accordion__inner__list
						li.os__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_1")
								span.fake-checkbox
								span.text-value Android
						li.os__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_2")
								span.fake-checkbox
								span.text-value iOS
						li.os__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_3")
								span.fake-checkbox
								span.text-value Windows Mobile
						li.os__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_4")
								span.fake-checkbox
								span.text-value Symbian
						li.os__item.accordion__inner__item
							label.checkbox-wrapper
								input.checkbox__item(type="checkbox" id="checkbox__item_5")
								span.fake-checkbox
								span.text-value Custom
						li.os__reset.accordion__inner__item
							label.label_reset
								span.reset_text Сбросить фильтр
								input.reset__button(type="reset" id="reset__button_os" value="Сбросить фильтр")

					





						